Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-all

cci-stats: Add project
  cci-stats/cmd/runner/main.go
  cci-stats/go.mod
  cci-stats/go.sum
  cci-stats/pkg/config/config.go
  cci-stats/pkg/db/db.go
  cci-stats/pkg/db/db.sql
  cci-stats/pkg/service/service.go
Due: none

Add fmt.Sprint for fields that can be nil
  op-signer/service/service.go
Due: run-build-op-signer

Update optimism go module dependency to op-node/v1.10.2
  op-signer/go.mod
  op-signer/go.sum
Due: run-build-op-signer

Add CI
  .circleci/config.yml
  .circleci/continue_config.yml
  cci-stats/.goreleaser.yaml
  cci-stats/Dockerfile
  cci-stats/Makefile
  cci-stats/README.md
  cci-stats/cmd/runner/main.go
Due: run-all

fix lint in proxyd
  proxyd/backend.go
  proxyd/server.go
Due: run-build-proxyd

bump golangci-lint timeout
  .circleci/continue_config.yml
Due: run-all

cci-stats: Add project (#115)
  .circleci/config.yml
  .circleci/continue_config.yml
  cci-stats/.goreleaser.yaml
  cci-stats/Dockerfile
  cci-stats/Makefile
  cci-stats/README.md
  cci-stats/cmd/runner/main.go
  cci-stats/go.mod
  cci-stats/go.sum
  cci-stats/pkg/config/config.go
  cci-stats/pkg/db/db.go
  cci-stats/pkg/db/db.sql
  cci-stats/pkg/service/service.go
  proxyd/backend.go
  proxyd/server.go
Due: run-build-proxyd, run-all

Add CCI stats to tag script
  ops/ci-tag-docker-release/ci-docker-tag-op-stack-release.sh
Due: none

Fix op-signer log formatting for transaction data (#116)
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/service.go
Due: run-build-op-signer

typo.fix README.md
  op-conductor-ops/README.md
Due: none

Add ca-certificates to CCI stats
  cci-stats/Dockerfile
Due: none

Add ca-certificates to CCI stats (#121)
  cci-stats/Dockerfile
Due: none

- Use faster JSON encode/decode library (goccy/go-json) - Use faster HTTP library for backend RPC requests
  proxyd/backend.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/rpc.go
Due: run-build-proxyd

Fix bug with shared channel
  proxyd/nonconsensus_poller.go
Due: run-build-proxyd

added docker image build, tag, push to CI
  .github/workflows/docker.yml
Due: run-all

Remove polling from request count tests
  proxyd/backend.go
  proxyd/example.config.toml
  proxyd/integration_tests/mock_backend_test.go
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/integration_tests/testdata/retries.toml
  proxyd/nonconsensus_poller.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat: initial dynamic authentication with postgresql
  proxyd/config.go
  proxyd/dynamic_auth.go
  proxyd/example.config.toml
  proxyd/go.mod
  proxyd/go.sum
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat: add a bit of docs
  proxyd/README.md
Due: run-build-proxyd

feat(op-signer): add AWS KMS signature provider
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/provider/aws_kms.go
  op-signer/service/provider/cloudkms.go
  op-signer/service/provider/provider.go
Due: run-build-op-signer

feat(op-signer): add provider factory for signature providers
  op-signer/app.go
  op-signer/service/config.go
  op-signer/service/config_test.go
  op-signer/service/provider/provider.go
  op-signer/service/service.go
Due: run-build-op-signer

refactor(op-signer): move KeyProvider to top-level config
  op-signer/service/config.go
  op-signer/service/config_test.go
Due: run-build-op-signer

feat(op-signer): add KeyProvider enum for cloud provider selection
  op-signer/service/config.go
Due: run-build-op-signer

chore(deps): add AWS SDK dependencies
  op-signer/go.mod
Due: run-build-op-signer

chore(lint): fixed spelling
  op-signer/service/provider/aws_kms.go
Due: run-build-op-signer

feat(op-signer): add DER encoding utilities for secp256k1 keys
  op-signer/service/provider/utils.go
  op-signer/service/provider/utils_test.go
Due: run-build-op-signer

feat(op-signer): add signature format conversion utilities
  op-signer/service/provider/utils.go
  op-signer/service/provider/utils_test.go
Due: run-build-op-signer

test(op-signer): add AWS KMS signature provider tests
  op-signer/service/provider/aws_kms_test.go
Due: run-build-op-signer

fix(op-signer): use %w verb for error wrapping in DER conversion
  op-signer/service/provider/utils.go
Due: run-build-op-signer

fix: invalid eth_signBlockPayload error message
  op-signer/client/client.go
Due: run-build-op-signer

fix: invalid eth_signBlockPayload error message (#123)
  op-signer/client/client.go
Due: run-build-op-signer

feat: add integration test for proxy authenticator
  proxyd/dynamic_auth.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/dynamic_auth_test.go
  proxyd/server.go
Due: run-build-proxyd

feat: add tests for the admin api endpoints
  proxyd/integration_tests/dynamic_auth_api_client.go
  proxyd/integration_tests/dynamic_auth_test.go
  proxyd/integration_tests/testdata/dynamic_authentication.toml
Due: run-build-proxyd

fix: allow user to authenticate both when static or dynamic auth is enabled
  proxyd/server.go
Due: run-build-proxyd

feat: add tests for authentication when both static and dynamic auth enabled
  proxyd/integration_tests/dynamic_auth_test.go
  proxyd/integration_tests/testdata/static_and_dynamic_authentication.toml
Due: run-build-proxyd

chore: add docs to the example proxyd configuration
  proxyd/example.config.toml
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
