Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-ufm, run-build-proxyd, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            .circleci/.* run-all true
            .github/.* run-all true

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

  release:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - hold:
          type: approval
          filters:
            tags:
              only: /^(proxyd|ufm-[a-z0-9\-]*|op-[a-z0-9\-]*)\/v.*/
            branches:
              ignore: /.*/
      - docker-build:
          name: op-ufm-docker-build
          filters:
            tags:
              only: /^op-ufm\/v.*/
            branches:
              ignore: /.*/
          docker_name: op-ufm
          docker_tags: <<pipeline.git.revision>>
          docker_context: .
          docker_file: op-ufm/Dockerfile
          context:
            - oplabs-gcr-release
          requires:
            - hold
      - docker-publish:
          name: op-ufm-docker-publish
          docker_name: op-ufm
          docker_tags: <<pipeline.git.revision>>
          context:
            - oplabs-gcr
          requires:
            - op-ufm-docker-build

      - docker-build:
          name: proxyd-docker-build
          filters:
            tags:
              only: /^proxyd\/v.*/
            branches:
              ignore: /.*/
          docker_name: proxyd
          docker_tags: <<pipeline.git.revision>>
          docker_context: .
          docker_file: proxyd/Dockerfile
          context:
            - oplabs-gcr-release
          requires:
            - hold
      - docker-publish:
          name: proxyd-docker-release
          filters:
            tags:
              only: /^proxyd\/v.*/
            branches:
              ignore: /.*/
          docker_name: proxyd
          docker_tags: <<pipeline.git.revision>>
          context:
            - oplabs-gcr-release
          requires:
            - proxyd-docker-build

      - docker-build:
          name: op-conductor-mon-docker-build
          docker_file: op-conductor-mon/Dockerfile
          docker_name: op-conductor-mon
          docker_tags: <<pipeline.git.revision>>,<<pipeline.git.branch>>
          docker_context: .
      - docker-publish:
          name: op-conductor-mon-docker-publish
          docker_name: op-conductor-mon
          docker_tags: <<pipeline.git.revision>>,<<pipeline.git.branch>>
          context:
            - oplabs-gcr
          requires:
            - op-conductor-mon-docker-build

feat: update proxyd references to infra repo (#48)
  proxyd/backend.go
  proxyd/cmd/proxyd/main.go
  proxyd/go.mod
  proxyd/integration_tests/batch_timeout_test.go
  proxyd/integration_tests/batching_test.go
  proxyd/integration_tests/block_height_zero_and_network_errors_test.go
  proxyd/integration_tests/caching_test.go
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/failover_test.go
  proxyd/integration_tests/fallback_test.go
  proxyd/integration_tests/max_rpc_conns_test.go
  proxyd/integration_tests/mock_backend_test.go
  proxyd/integration_tests/multicall_test.go
  proxyd/integration_tests/rate_limit_test.go
  proxyd/integration_tests/sender_rate_limit_test.go
  proxyd/integration_tests/smoke_test.go
  proxyd/integration_tests/util_test.go
  proxyd/integration_tests/validation_test.go
  proxyd/integration_tests/ws_test.go
  proxyd/tools/mockserver/handler/handler.go
  proxyd/tools/mockserver/main.go
Due: run-build-proxyd

Multicall testcase improvements (#39)
  proxyd/integration_tests/multicall_test.go
Due: run-build-proxyd

Couple of usability improvements and cert config path fix
  op-conductor-ops/README.md
  op-conductor-ops/config.py
  op-conductor-ops/op-conductor-ops
Due: none

Couple of usability improvements and cert config path fix (#49)
  op-conductor-ops/README.md
  op-conductor-ops/config.py
  op-conductor-ops/op-conductor-ops
Due: none

GH actions WIF
  .github/workflows/docker-build-push-tag.yaml
  .github/workflows/docker-build-push.yaml
Due: run-all

Context
  .github/workflows/docker-build-push-tag.yaml
  .github/workflows/docker-build-push.yaml
Due: run-all

GH Actions conditions
  .github/workflows/docker-build-push-tag.yaml
  .github/workflows/docker-build-push.yaml
Due: run-all

Readme
  proxyd/README.md
Due: run-build-proxyd

compute-tag
  .github/workflows/docker-build-push-tag.yaml
Due: run-all

op-conductor-ops: adds force-active-sequencer command
  op-conductor-ops/network.py
  op-conductor-ops/op-conductor-ops.py
Due: none

op-conductor-ops: adds force-active-sequencer command (#50)
  op-conductor-ops/network.py
  op-conductor-ops/op-conductor-ops.py
Due: none

op-signer: add to this repo
  op-signer/.air.toml
  op-signer/.envrc
  op-signer/.gitignore
  op-signer/CHANGELOG.md
  op-signer/Dockerfile
  op-signer/Makefile
  op-signer/README.md
  op-signer/app.go
  op-signer/client/client.go
  op-signer/cmd/main.go
  op-signer/config.go
  op-signer/config.yaml
  op-signer/gen-local-tls.sh
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/auth.go
  op-signer/service/auth_test.go
  op-signer/service/config.go
  op-signer/service/errors.go
  op-signer/service/metrics.go
  op-signer/service/provider/cloudkms.go
  op-signer/service/provider/cloudkms_test.go
  op-signer/service/provider/mock_kms.go
  op-signer/service/provider/mock_provider.go
  op-signer/service/provider/provider.go
  op-signer/service/service.go
  op-signer/service/service_test.go
  op-signer/test-rpc.json
Due: none

circleci: add op-signer jobs/workflows
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all

ops: update tag service to include op-signer
  ops/tag-service/tag-tool.py
Due: none

readme: add op-signer one sentence description
  README.md
Due: none

ci: add op-signer option to github action
  .github/workflows/tag-service.yml
Due: run-all

ops: add op-signer min version
  ops/tag-service/tag-service.py
Due: none

op-signer: add to this repo (#51)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/tag-service.yml
  README.md
  op-signer/.air.toml
  op-signer/.envrc
  op-signer/.gitignore
  op-signer/CHANGELOG.md
  op-signer/Dockerfile
  op-signer/Makefile
  op-signer/README.md
  op-signer/app.go
  op-signer/client/client.go
  op-signer/cmd/main.go
  op-signer/config.go
  op-signer/config.yaml
  op-signer/gen-local-tls.sh
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/auth.go
  op-signer/service/auth_test.go
  op-signer/service/config.go
  op-signer/service/errors.go
  op-signer/service/metrics.go
  op-signer/service/provider/cloudkms.go
  op-signer/service/provider/cloudkms_test.go
  op-signer/service/provider/mock_kms.go
  op-signer/service/provider/mock_provider.go
  op-signer/service/provider/provider.go
  op-signer/service/service.go
  op-signer/service/service_test.go
  op-signer/test-rpc.json
  ops/tag-service/tag-service.py
  ops/tag-service/tag-tool.py
Due: run-all

circleci: fix release job deps
  .circleci/continue_config.yml
Due: run-all

circleci: fix release job deps (#55)
  .circleci/continue_config.yml
Due: run-all

txpool svc
  .circleci/config.yml
  .circleci/continue_config.yml
  op-txproxy/.gitignore
  op-txproxy/Dockerfile
  op-txproxy/Makefile
  op-txproxy/README.md
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
  op-txproxy/cli.go
  op-txproxy/cmd/main.go
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
  op-txproxy/go.mod
  op-txproxy/go.sum
  op-txproxy/txproxy.go
Due: run-all

change mod github path
  op-txproxy/cmd/main.go
  op-txproxy/go.mod
Due: none

tag-tool
  ops/tag-service/tag-tool.py
Due: none

codeowners
  .github/CODEOWNERS
Due: run-all

Upgrade geth dependency to 1.14.8
  proxyd/cmd/proxyd/main.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/util_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

op-txproxy: external validating proxy for conditional transactions (#42)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  op-txproxy/.gitignore
  op-txproxy/Dockerfile
  op-txproxy/Makefile
  op-txproxy/README.md
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
  op-txproxy/cli.go
  op-txproxy/cmd/main.go
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
  op-txproxy/go.mod
  op-txproxy/go.sum
  op-txproxy/txproxy.go
  ops/tag-service/tag-tool.py
Due: run-all

Refactor to reduce code duplication
  proxyd/server.go
Due: run-build-proxyd

GitHub Workflows for image building
  .github/workflows/docker-build-push-tag.yaml
  .github/workflows/docker-build-push.yaml
Due: run-all
