Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

op-ufm: fix memory leaks in provider tx pool and RPC clients
  op-ufm/pkg/metrics/clients/eth.go
  op-ufm/pkg/provider/heartbeat.go
  op-ufm/pkg/provider/provider.go
  op-ufm/pkg/provider/roundtrip.go
Due: run-build-op-ufm

build(go): require Go 1.26.5
  bailiff/go.mod
  cci-stats/go.mod
  go.mod
  mise.toml
  op-conductor-mon/go.mod
  op-signer/go.mod
  op-txproxy/go.mod
  op-ufm/go.mod
  peer-mgmt-service/go.mod
  proxyd/go.mod
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats

op-ufm: fix goimports ordering in provider.go
  op-ufm/pkg/provider/provider.go
Due: run-build-op-ufm

replica-healthcheck: switch providers to StaticJsonRpcProvider
  replica-healthcheck/src/service.ts
Due: run-build-rhc

replica-healthcheck: switch providers to StaticJsonRpcProvider (#694)
  replica-healthcheck/src/service.ts
Due: run-build-rhc

op-ufm: fix memory leaks in provider tx pool and RPC clients (#685)
  op-ufm/pkg/metrics/clients/eth.go
  op-ufm/pkg/provider/heartbeat.go
  op-ufm/pkg/provider/provider.go
  op-ufm/pkg/provider/roundtrip.go
Due: run-build-op-ufm

ci(dependency-review): wire repo-local exception config
  .github/CODEOWNERS
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
Due: none

ci(dependency-review): wire repo-local exception config (#708)
  .github/CODEOWNERS
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
Due: none

fix(op-conductor-ops): relative cert path against config's dir
  op-conductor-ops/op_conductor_ops/config.py
Due: run-build-op-conductor-ops

fix(op-conductor-ops): relative cert path against config's dir (#711)
  op-conductor-ops/op_conductor_ops/config.py
Due: run-build-op-conductor-ops

cci-stats: apply the schema with goose instead of by hand
  cci-stats/README.md
  cci-stats/cmd/runner/main.go
  cci-stats/go.mod
  cci-stats/go.sum
  cci-stats/pkg/db/migrate.go
  cci-stats/pkg/db/migrate_test.go
  cci-stats/pkg/db/migrations/00001_initial_schema.sql
  cci-stats/pkg/db/testdata/legacy_v1_schema.sql
Due: run-build-cci-stats

cci-stats: assert the baseline leaves an existing database alone
  cci-stats/pkg/db/migrate_test.go
Due: run-build-cci-stats

cci-stats: trim the schema section of the README
  cci-stats/README.md
Due: run-build-cci-stats

cci-stats: Retry pipelines that were still running when indexed
  cci-stats/README.md
  cci-stats/pkg/db/db.go
  cci-stats/pkg/db/migrate_test.go
  cci-stats/pkg/db/migrations/00002_pipeline_complete.sql
  cci-stats/pkg/service/report_test.go
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

cci-stats: Apply the schema with goose instead of by hand (#712)
  cci-stats/README.md
  cci-stats/cmd/runner/main.go
  cci-stats/go.mod
  cci-stats/go.sum
  cci-stats/pkg/db/migrate.go
  cci-stats/pkg/db/migrate_test.go
  cci-stats/pkg/db/migrations/00001_initial_schema.sql
  cci-stats/pkg/db/testdata/legacy_v1_schema.sql
Due: run-build-cci-stats

cci-stats: Retry pipelines that were still running when indexed (#709)
  cci-stats/README.md
  cci-stats/pkg/db/db.go
  cci-stats/pkg/db/migrate_test.go
  cci-stats/pkg/db/migrations/00002_pipeline_complete.sql
  cci-stats/pkg/service/report_test.go
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

chore: update op-txproxy code ownership
  .github/CODEOWNERS
Due: none

chore: update op-txproxy code ownership (#715)
  .github/CODEOWNERS
Due: none

cci-stats: Retry transient CircleCI API failures
  cci-stats/cmd/runner/main.go
  cci-stats/pkg/cci/client.go
  cci-stats/pkg/cci/client_test.go
  cci-stats/pkg/cci/retry.go
  cci-stats/pkg/cci/retry_test.go
Due: run-build-cci-stats

cci-stats: Retry transient CircleCI API failures (#716)
  cci-stats/cmd/runner/main.go
  cci-stats/pkg/cci/client.go
  cci-stats/pkg/cci/client_test.go
  cci-stats/pkg/cci/retry.go
  cci-stats/pkg/cci/retry_test.go
Due: run-build-cci-stats

fix(proxyd): evict out-of-order buckets in the sliding window
  proxyd/pkg/avg-sliding-window/sliding.go
  proxyd/pkg/avg-sliding-window/sliding_test.go
Due: run-build-proxyd

ci-base-clang: build the CircleCI Rust base image in infra
  .github/images.json
  ci-base-clang/Dockerfile
Due: none

ci-base-clang: fix OCI source label
  ci-base-clang/Dockerfile
Due: none

ci-base-clang: build the orphaned CircleCI Rust base image in infra (#719)
  .github/images.json
  ci-base-clang/Dockerfile
Due: none

circleci-runner-wolfi: add openssl and jq for CI recipes
  apko/circleci-runner-wolfi.yaml
Due: none

circleci-runner-wolfi: add sudo for the checkout-with-mise orb
  apko/circleci-runner-wolfi.yaml
  melange/circleci-runner.yaml
Due: none

circleci-runner-wolfi: add m4 for gmp-mpfr-sys build
  apko/circleci-runner-wolfi.yaml
Due: none

circleci-runner-wolfi: add zip/unzip for superchain bundle
  apko/circleci-runner-wolfi.yaml
Due: none

circleci-runner-wolfi: get it to work (#720)
  apko/circleci-runner-wolfi.yaml
  melange/circleci-runner.yaml
Due: none

cci-stats: Replace the test_results indexes
  cci-stats/pkg/db/migrate_test.go
  cci-stats/pkg/db/migrations/00003_test_results_indexes.sql
Due: run-build-cci-stats

circleci-runner-wolfi: drop protoc from smoke test
  .github/images.apko.json
Due: none

circleci-runner-wolfi: drop protoc, provided by mise
  apko/circleci-runner-wolfi.yaml
Due: none

circleci-runner-wolfi: Drop redundant protoc (#717)
  .github/images.apko.json
  apko/circleci-runner-wolfi.yaml
Due: none

security: Roll up foundational Go dependencies
  bailiff/go.mod
  bailiff/go.sum
  bailiff/internal/pkg/bailiff/config.go
  op-conductor-mon/cmd/monitor/main.go
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
  op-signer/go.mod
  op-signer/go.sum
  op-txproxy/cmd/main.go
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
  op-txproxy/go.mod
  op-txproxy/go.sum
  op-txproxy/txproxy.go
  op-ufm/cmd/ufm/main.go
  op-ufm/go.mod
  op-ufm/go.sum
  op-ufm/pkg/metrics/clients/signer.go
  peer-mgmt-service/cmd/pms/main.go
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
  peer-mgmt-service/pkg/metrics/opp2p_client/opp2p.go
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm

fix(peer-mgmt): remove vulnerable QUIC
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
  peer-mgmt-service/pkg/metrics/opp2p_client/opp2p.go
  peer-mgmt-service/pkg/pms/network.go
  peer-mgmt-service/pkg/pms/poll_test.go
Due: run-build-pms

cci-stats: Replace the test_results indexes (#721)
  cci-stats/pkg/db/migrate_test.go
  cci-stats/pkg/db/migrations/00003_test_results_indexes.sql
Due: run-build-cci-stats

security: Roll up foundational Go dependencies (#722)
  bailiff/go.mod
  bailiff/go.sum
  bailiff/internal/pkg/bailiff/config.go
  op-conductor-mon/cmd/monitor/main.go
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
  op-signer/go.mod
  op-signer/go.sum
  op-txproxy/cmd/main.go
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
  op-txproxy/go.mod
  op-txproxy/go.sum
  op-txproxy/txproxy.go
  op-ufm/cmd/ufm/main.go
  op-ufm/go.mod
  op-ufm/go.sum
  op-ufm/pkg/metrics/clients/signer.go
  peer-mgmt-service/cmd/pms/main.go
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
  peer-mgmt-service/pkg/metrics/opp2p_client/opp2p.go
  peer-mgmt-service/pkg/pms/network.go
  peer-mgmt-service/pkg/pms/poll_test.go
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm

fix(peer-mgmt): update QUIC transport family
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
Due: run-build-pms

fix(peer-mgmt): update QUIC transport family (#724)
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
Due: run-build-pms

proxyd: Add fixed-cardinality frontend rate-limit metrics
  proxyd/metrics.go
  proxyd/rate_limit_tracker.go
  proxyd/rate_limit_tracker_test.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
