Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-ufm, run-build-proxyd, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            .circleci/.* run-all true
            .github/.* run-all true

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

  release:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - hold:
          type: approval
          filters:
            tags:
              only: /^(proxyd|ufm-[a-z0-9\-]*|op-[a-z0-9\-]*)\/v.*/
            branches:
              ignore: /.*/
      - docker-build:
          name: op-ufm-docker-build
          filters:
            tags:
              only: /^op-ufm\/v.*/
            branches:
              ignore: /.*/
          docker_name: op-ufm
          docker_tags: <<pipeline.git.revision>>
          docker_context: .
          docker_file: op-ufm/Dockerfile
          context:
            - oplabs-gcr-release
          requires:
            - hold
      - docker-publish:
          name: op-ufm-docker-publish
          docker_name: op-ufm
          docker_tags: <<pipeline.git.revision>>
          context:
            - oplabs-gcr
          requires:
            - op-ufm-docker-build

      - docker-build:
          name: proxyd-docker-build
          filters:
            tags:
              only: /^proxyd\/v.*/
            branches:
              ignore: /.*/
          docker_name: proxyd
          docker_tags: <<pipeline.git.revision>>
          docker_context: .
          docker_file: proxyd/Dockerfile
          context:
            - oplabs-gcr-release
          requires:
            - hold
      - docker-publish:
          name: proxyd-docker-release
          filters:
            tags:
              only: /^proxyd\/v.*/
            branches:
              ignore: /.*/
          docker_name: proxyd
          docker_tags: <<pipeline.git.revision>>
          context:
            - oplabs-gcr-release
          requires:
            - proxyd-docker-build

      - docker-build:
          name: op-conductor-mon-docker-build
          docker_file: op-conductor-mon/Dockerfile
          docker_name: op-conductor-mon
          docker_tags: <<pipeline.git.revision>>,<<pipeline.git.branch>>
          docker_context: .
      - docker-publish:
          name: op-conductor-mon-docker-publish
          docker_name: op-conductor-mon
          docker_tags: <<pipeline.git.revision>>,<<pipeline.git.branch>>
          context:
            - oplabs-gcr
          requires:
            - op-conductor-mon-docker-build

feat: linting imports
  proxyd/integration_tests/mock_backend_test.go
Due: run-build-proxyd

feat: cleaning up unused code
  proxyd/config.go
  proxyd/metrics.go
Due: run-build-proxyd

feat: pr cleanup comments
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/mock_backend_test.go
Due: run-build-proxyd

feat: pr linting errors
  proxyd/backend.go
  proxyd/integration_tests/mock_backend_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat: multi_call -> multicall
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/testdata/multicall.toml
Due: run-build-proxyd

feat: update test-env
  proxyd/tools/test-env/proxyd/proxyd/proxyd.toml.template
  proxyd/tools/test-env/proxyd/upstream-proxyd-3/proxyd.toml
Due: run-build-proxyd

feat: spelling fix
  proxyd/backend.go
Due: run-build-proxyd

fix: fix circle ci test errors
  proxyd/integration_tests/multicall_test.go
Due: run-build-proxyd

fix: update logs, and remove unused configs
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/proxyd.go
Due: run-build-proxyd

feat: update metrics to inc
  proxyd/metrics.go
Due: run-build-proxyd

Updates op-conductor-mon and ops tool to include seq-4 (#4046)
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: allow consensus_aware to remain in the config in a deprecated state
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat: add explicit value for fallback routing strategy
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat: reduced log statements
  proxyd/proxyd.go
Due: run-build-proxyd

feat: create validate routing strategy function to ensure proper config
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd

fix: context ends in WS after HTTP upgrade
  proxyd/server.go
Due: run-build-proxyd

refactor: handle cache mutex in common
  proxyd/cache.go
  proxyd/methods.go
Due: run-build-proxyd

feat: report method name in WS metrics
  proxyd/backend.go
Due: run-build-proxyd

feat: fix go imports
  proxyd/config.go
Due: run-build-proxyd

feat: add multi call routing strategy (#26)
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/block_height_zero_and_network_errors_test.go
  proxyd/integration_tests/multicall_test.go
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/empty_responses.yml
  proxyd/integration_tests/testdata/fallback.toml
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

disable shuffle
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/consensus_disable_shuffle_test.go
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/testdata/consensus_disable_shuffle.toml
  proxyd/proxyd.go
Due: run-build-proxyd

feat: v1 local test env
  proxyd/.gitignore
  proxyd/tools/test-env/README.md
  proxyd/tools/test-env/docker-compose.yml
  proxyd/tools/test-env/env.template
  proxyd/tools/test-env/grafana/dashboards/dashboard.yml
  proxyd/tools/test-env/grafana/dashboards/dashboards/dashboard.yml
  proxyd/tools/test-env/grafana/dashboards/home.json
  proxyd/tools/test-env/grafana/provisioning/datasources/datasources.yml
  proxyd/tools/test-env/prometheus/prometheus.yml
  proxyd/tools/test-env/proxyd/proxyd/template.proxyd.toml
  proxyd/tools/test-env/proxyd/upstream-proxyd-1/template.proxyd.toml
  proxyd/tools/test-env/proxyd/upstream-proxyd-2/template.proxyd.toml
  proxyd/tools/test-env/proxyd/upstream-proxyd-3/template.proxyd.toml
  proxyd/tools/test-env/start-env.sh
Due: run-build-proxyd

Adds update-cluster-membership command to op-conductor-ops (#4086)
  op-conductor-ops/config.py
  op-conductor-ops/network.py
  op-conductor-ops/op-conductor-ops
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
  op-conductor-ops/utils.py
Due: none

feat: v1 get release tag
  .circleci/continue_config.yml
  .circleci/script.sh
Due: run-all

feat: v1 get release tag
  .circleci/continue_config.yml
Due: run-all

feat: testing release tag workflow
  .circleci/continue_config.yml
Due: run-all

feat: able to get semver, try appending to docker build and push
  .circleci/continue_config.yml
Due: run-all

feat: script verbosity improvements
  .circleci/continue_config.yml
Due: run-all

feat: semver with build
  .circleci/continue_config.yml
Due: run-all

feat: added docker tag release script
  .circleci/continue_config.yml
  .circleci/script.sh
  ops/ci-tag-docker-release/ci-docker-tag-op-stack-release.sh
Due: run-all

feat: added docker tag release script, running
  .circleci/continue_config.yml
Due: run-all

feat: added docker tag release script, building and pushing, not tagging
  .circleci/continue_config.yml
Due: run-all

feat: add docker registry image tagging to release workflow
  .circleci/continue_config.yml
  ops/ci-tag-docker-release/ci-docker-tag-op-stack-release.sh
Due: run-all

feat: add docker registry image tagging to release workflow (#34)
  .circleci/continue_config.yml
  ops/ci-tag-docker-release/ci-docker-tag-op-stack-release.sh
Due: run-all

add branch.yaml
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/project_template.md
  .github/ISSUE_TEMPLATE/project_template_fancy.yml
  .github/ISSUE_TEMPLATE/task_template.md
  .github/workflows/branch.yml
  .github/workflows/tag-service.yml
Due: run-all

use proxyd context
  .github/workflows/branch.yml
Due: run-all
