Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

proxyd: bound rate-limit tracker key memory via FNV-64a hashing
  proxyd/rate_limit_tracker.go
  proxyd/server_test.go
Due: run-build-proxyd

proxyd: Add fixed-cardinality frontend rate-limit metrics (#725)
  proxyd/metrics.go
  proxyd/rate_limit_tracker.go
  proxyd/rate_limit_tracker_test.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

feat(proxyd): add tx_monitor config section
  proxyd/config.go
  proxyd/tx_monitor_test.go
Due: run-build-proxyd

feat(proxyd): tx_monitor pending store
  proxyd/tx_monitor_store.go
  proxyd/tx_monitor_store_test.go
Due: run-build-proxyd

feat(proxyd): tx_monitor subblocks payload parsing
  proxyd/tx_monitor_subblocks.go
  proxyd/tx_monitor_subblocks_test.go
Due: run-build-proxyd

feat(proxyd): tx_monitor block fetchers
  proxyd/tx_monitor_blocks.go
  proxyd/tx_monitor_blocks_test.go
Due: run-build-proxyd

feat(proxyd): tx_monitor core component and metrics
  proxyd/go.mod
  proxyd/metrics.go
  proxyd/tx_monitor.go
  proxyd/tx_monitor_test.go
Due: run-build-proxyd

feat(proxyd): wire tx_monitor into request path and lifecycle
  proxyd/CHANGELOG.md
  proxyd/README.md
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_monitor_blocks.go
Due: run-build-proxyd

fix(proxyd): nil-guard WS tx_monitor hook response
  proxyd/server.go
Due: run-build-proxyd

fix(proxyd): cap subblocks stream frame size
  proxyd/tx_monitor.go
Due: run-build-proxyd

fix(proxyd): close subblocks dial handshake response body
  proxyd/tx_monitor.go
Due: run-build-proxyd

feat(proxyd): route tx_monitor block polls through BackendGroup.Forward
  proxyd/tx_monitor_blocks.go
Due: run-build-proxyd

fix(proxyd): harden tx_monitor config validation, startup order, and gap-walk cursor
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/tx_monitor.go
  proxyd/tx_monitor_blocks.go
  proxyd/tx_monitor_test.go
Due: run-build-proxyd

fix(proxyd): assign tx_monitor before listeners, start after consensus init
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): passive transaction UX monitor (tx_monitor) (#726)
  proxyd/CHANGELOG.md
  proxyd/README.md
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/go.mod
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_monitor.go
  proxyd/tx_monitor_blocks.go
  proxyd/tx_monitor_blocks_test.go
  proxyd/tx_monitor_store.go
  proxyd/tx_monitor_store_test.go
  proxyd/tx_monitor_subblocks.go
  proxyd/tx_monitor_subblocks_test.go
  proxyd/tx_monitor_test.go
Due: run-build-proxyd

fix(replica-healthcheck): patch transitive deps
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: run-build-rhc

fix(replica-healthcheck): patch transitive deps (#729)
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: run-build-rhc

proxyd: start tx_monitor inclusion clock at request receipt
  proxyd/CHANGELOG.md
  proxyd/README.md
  proxyd/backend.go
  proxyd/server.go
  proxyd/tx_monitor.go
  proxyd/tx_monitor_store.go
  proxyd/tx_monitor_store_test.go
  proxyd/tx_monitor_test.go
Due: run-build-proxyd

proxyd: start tx_monitor inclusion clock at request receipt (#727)
  proxyd/CHANGELOG.md
  proxyd/README.md
  proxyd/backend.go
  proxyd/server.go
  proxyd/tx_monitor.go
  proxyd/tx_monitor_store.go
  proxyd/tx_monitor_store_test.go
  proxyd/tx_monitor_test.go
Due: run-build-proxyd

fix(deps): bump browserslist to 4.28.7
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: run-build-rhc

op-signer: suppress SA1019 for deprecated ecdsa.PublicKey X/Y fields in secp256k1 unmarshal
  op-signer/provider/utils.go
Due: run-build-op-signer

fix(deps): bump browserslist to 4.28.7 (#731)
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: run-build-rhc

ci: automerge renovate security PRs and run hourly
  .github/workflows/renovate.yaml
  renovate.json
Due: none

ci: automerge renovate security PRs and run hourly (#735)
  .github/workflows/renovate.yaml
  renovate.json
Due: none

ci: run renovate every 4 hours
  .github/workflows/renovate.yaml
Due: none

ci(apko): align apko builds with docker triggers, tags, and version stamping
  .github/workflows/build-images.apko.yaml
  melange/op-conductor-mon.yaml
  melange/op-signer.yaml
  melange/op-txproxy.yaml
  melange/op-ufm.yaml
  melange/peer-mgmt-service.yaml
  melange/proxyd.yaml
Due: none

ci: migrate apko builds to single factory apko.yaml workflow
  .github/images.apko.json
  .github/images.json
  .github/workflows/build-images.apko.yaml
  apko/cci-stats.apko.yaml
  apko/circleci-runner-wolfi.apko.yaml
  apko/op-conductor-mon.apko.yaml
  apko/op-conductor-ops.apko.yaml
  apko/op-signer.apko.yaml
  apko/op-txproxy.apko.yaml
  apko/op-ufm.apko.yaml
  apko/peer-mgmt-service.apko.yaml
  apko/proxyd.apko.yaml
  apko/replica-healthcheck.apko.yaml
  melange/circleci-runner.yaml
  melange/op-signer.yaml
  melange/peer-mgmt-service.yaml
  melange/pipelines/app-compat/install-to-app.yaml
  melange/pipelines/circleci-runner/install.yaml
  melange/pipelines/yarn/build.yaml
  melange/replica-healthcheck.yaml
  pipelines
Due: none

ci(apko): re-pin factory and move apko- to tag_prefix
  .github/workflows/build-images.apko.yaml
Due: none

ci(apko): build via factory apko-plan with apko- tag prefix
  .github/images.apko.json
  .github/workflows/build-images.apko.yaml
  apko/cci-stats.yaml
  apko/circleci-runner-wolfi.yaml
  apko/op-conductor-mon.yaml
  apko/op-conductor-ops.yaml
  apko/op-signer.yaml
  apko/op-txproxy.yaml
  apko/op-ufm.yaml
  apko/peer-mgmt-service.yaml
  apko/proxyd.yaml
  apko/replica-healthcheck.yaml
  melange/circleci-runner.yaml
  melange/op-conductor-mon.yaml
  melange/op-signer.yaml
  melange/op-txproxy.yaml
  melange/op-ufm.yaml
  melange/peer-mgmt-service.yaml
  melange/pipelines/app-compat/install-to-app.yaml
  melange/pipelines/circleci-runner/install.yaml
  melange/pipelines/yarn/build.yaml
  melange/proxyd.yaml
  melange/replica-healthcheck.yaml
  pipelines
Due: none

ci: build apko image twins via the factory apko.yaml workflow (#732)
  .github/images.json
  .github/workflows/build-images.apko.yaml
  apko/cci-stats.apko.yaml
  apko/circleci-runner-wolfi.apko.yaml
  apko/op-conductor-mon.apko.yaml
  apko/op-conductor-ops.apko.yaml
  apko/op-signer.apko.yaml
  apko/op-txproxy.apko.yaml
  apko/op-ufm.apko.yaml
  apko/peer-mgmt-service.apko.yaml
  apko/proxyd.apko.yaml
  apko/replica-healthcheck.apko.yaml
Due: none

proxyd: send optional x-api-key header from tx validation middleware
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

proxyd: send optional x-api-key header from tx validation middleware (#737)
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

docs: link security policy to Immunefi bounty program
  SECURITY.md
Due: none

docs: link security policy to Immunefi bounty program (#741)
  SECURITY.md
Due: none

fix(cci-stats): paginate workflow jobs
  cci-stats/pkg/cci/client.go
  cci-stats/pkg/cci/client_test.go
  cci-stats/pkg/service/report_test.go
  cci-stats/pkg/service/service.go
Due: run-build-cci-stats

fix(op-conductor-mon): node_leader metric to only report with correct server ids
  op-conductor-mon/pkg/monitor/poll.go
  op-conductor-mon/pkg/monitor/poll_test.go
Due: run-build-op-conductor-mon

fix(op-conductor-mon): node_leader metric to only report with correct server ids (#742)
  op-conductor-mon/pkg/monitor/poll.go
  op-conductor-mon/pkg/monitor/poll_test.go
Due: run-build-op-conductor-mon

fix(proxyd): expand env vars in consensus_ha_redis.url
  proxyd/integration_tests/consensus_ha_test.go
  proxyd/integration_tests/testdata/consensus_ha.toml
  proxyd/proxyd.go
Due: run-build-proxyd

fix(proxyd): expand env vars in consensus_ha_redis.url (#744)
  proxyd/integration_tests/consensus_ha_test.go
  proxyd/integration_tests/testdata/consensus_ha.toml
  proxyd/proxyd.go
Due: run-build-proxyd

op-signer: add scoped message signing
  op-signer/README.md
  op-signer/app.go
  op-signer/provider/config.go
  op-signer/service/errors.go
  op-signer/service/message_args.go
  op-signer/service/metrics.go
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
