Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-conductor-ops/.* run-build-op-conductor-ops true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            op-acceptor/.* run-build-op-acceptor true
            replica-healthcheck/.* run-build-rhc true
            .circleci/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

op-signer: bind message signatures to sender
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

ci: run APKO smoke tests with Docker
  .github/workflows/build-images.apko.yaml
Due: none

ci: run APKO smoke tests with Docker (#746)
  .github/workflows/build-images.apko.yaml
Due: none

ci: use validated Melange runner profiles
  .github/images.apko.json
  .github/workflows/build-images.apko.yaml
Due: none

ci: pin merged Factory runner profiles
  .github/workflows/build-images.apko.yaml
Due: none

ci: use validated Melange runner profiles (#747)
  .github/images.apko.json
  .github/workflows/build-images.apko.yaml
Due: none

feat(proxyd): add configurable per-method RPC cache TTLs
  proxyd/README.md
  proxyd/cache.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/caching_test.go
  proxyd/methods.go
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/timed_cache.go
  proxyd/timed_cache_test.go
Due: run-build-proxyd

refactor(proxyd): simplify timed caching to method TTL map
  proxyd/README.md
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/caching_test.go
  proxyd/timed_cache.go
  proxyd/timed_cache_test.go
Due: run-build-proxyd

fix(proxyd): retain SETEX with whole-second cache TTLs
  proxyd/README.md
  proxyd/cache.go
  proxyd/example.config.toml
  proxyd/integration_tests/caching_test.go
  proxyd/timed_cache.go
  proxyd/timed_cache_test.go
Due: run-build-proxyd

refactor(proxyd): make timed RPC caching Redis-only
  proxyd/README.md
  proxyd/cache.go
  proxyd/example.config.toml
  proxyd/integration_tests/caching_test.go
  proxyd/timed_cache.go
  proxyd/timed_cache_test.go
Due: run-build-proxyd

proxyd: return http 200 for oversized responses
  proxyd/backend.go
  proxyd/integration_tests/validation_test.go
Due: run-build-proxyd

fix(proxyd): return HTTP 400 for oversized responses
  proxyd/backend.go
  proxyd/integration_tests/validation_test.go
Due: run-build-proxyd

proxyd: return HTTP 400 for oversized responses (#749)
  proxyd/backend.go
  proxyd/integration_tests/validation_test.go
Due: run-build-proxyd

op-signer: add scoped message signing
  op-signer/README.md
  op-signer/app.go
  op-signer/provider/config.go
  op-signer/service/errors.go
  op-signer/service/message_args.go
  op-signer/service/metrics.go
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

op-signer: scope auth config lookup by signing method
  op-signer/README.md
  op-signer/provider/config.go
  op-signer/provider/config_test.go
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

op-signer: add scoped message signing (#745)
  op-signer/README.md
  op-signer/app.go
  op-signer/provider/config.go
  op-signer/provider/config_test.go
  op-signer/service/errors.go
  op-signer/service/message_args.go
  op-signer/service/metrics.go
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

Fix op-signer release builds without CGO
  .circleci/continue_config.yml
  op-signer/provider/aws_kms_test.go
  op-signer/provider/gcp_kms.go
  op-signer/provider/gcp_kms_test.go
  op-signer/provider/local_kms_test.go
  op-signer/provider/utils_test.go
Due: run-build-op-signer, run-all

Fix op-signer release builds without CGO (#753)
  .circleci/continue_config.yml
  op-signer/provider/aws_kms_test.go
  op-signer/provider/gcp_kms.go
  op-signer/provider/gcp_kms_test.go
  op-signer/provider/local_kms_test.go
  op-signer/provider/utils_test.go
Due: run-build-op-signer, run-all

proxyd: add metrics for tx validation middleware
  proxyd/metrics.go
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

proxyd: log tx validation middleware outcomes with duration
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

proxyd: drop tx validation service errors metric, add method label
  proxyd/metrics.go
  proxyd/tx_filter_modules.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

proxyd: treat non-2xx and malformed tx validation responses as errors
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

proxyd: add metrics for tx validation middleware (#758)
  proxyd/metrics.go
  proxyd/tx_filter_modules.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

proxyd: treat non-2xx and malformed tx validation responses as errors (#759)
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

proxyd: add opt-in rate limiting by authenticated alias
  proxyd/README.md
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/auth_alias_rate_limit_test.go
  proxyd/integration_tests/testdata/frontend_auth_alias.toml
  proxyd/metrics.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd
