Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

test(proxyd): drop ineffectual assignment in fail-closed test
  proxyd/integration_tests/interop_validation_test.go
Due: run-build-proxyd

feat(proxyd): fail-closed-by-default interop filtering (#649)
  proxyd/integration_tests/interop_validation_test.go
  proxyd/interop_strategy.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): unified transaction filter on the submission path
  proxyd/integration_tests/testdata/tx_filter.toml
  proxyd/integration_tests/tx_filter_test.go
  proxyd/interop.go
  proxyd/server.go
  proxyd/tx_filter.go
  proxyd/tx_filter_modules.go
  proxyd/tx_filter_modules_test.go
  proxyd/tx_filter_test.go
Due: run-build-proxyd

refactor(proxyd): pin tx-filter module order and harden the module contract
  proxyd/server.go
  proxyd/tx_filter.go
  proxyd/tx_filter_modules_test.go
  proxyd/tx_filter_test.go
Due: run-build-proxyd

refactor(proxyd): extract shared takeSenderLimit helper
  proxyd/tx_filter_modules.go
Due: run-build-proxyd

docs(proxyd): replace cryptic PR-number comments with self-contained notes
  proxyd/server.go
  proxyd/tx_filter_modules.go
Due: run-build-proxyd

docs(proxyd): document current filter behaviour without history references
  proxyd/tx_filter.go
  proxyd/tx_filter_modules.go
Due: run-build-proxyd

refactor(proxyd): single submission-method table; test bundle short-circuit
  proxyd/tx_filter.go
  proxyd/tx_filter_modules_test.go
Due: run-build-proxyd

fix(proxyd): parse ipv6 remote addresses
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

chore(proxyd): run golangci-lint in make lint target to match CI (#650)
  .circleci/continue_config.yml
  proxyd/Makefile
  proxyd/mise.toml
Due: run-build-proxyd, run-all

refactor(proxyd): unified transaction filter on the submission path (#654)
  proxyd/integration_tests/testdata/tx_filter.toml
  proxyd/integration_tests/tx_filter_test.go
  proxyd/interop.go
  proxyd/server.go
  proxyd/tx_filter.go
  proxyd/tx_filter_modules.go
  proxyd/tx_filter_modules_test.go
  proxyd/tx_filter_test.go
Due: run-build-proxyd

fix(proxyd): parse ipv6 remote addresses (#656)
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

add tests
  proxyd/multicall_unserviceable_test.go
Due: run-build-proxyd

nit
  proxyd/multicall_unserviceable_test.go
Due: run-build-proxyd

fix(proxyd): instrumentation of unserviceable requests metric
  proxyd/backend.go
Due: run-build-proxyd

fix(proxyd): instrumentation of unserviceable requests metric (#657)
  proxyd/backend.go
  proxyd/multicall_unserviceable_test.go
Due: run-build-proxyd

Update docs.
  proxyd/README.md
  proxyd/example.config.toml
Due: run-build-proxyd

Avoid blocking websocket processing for intercepted RPCs
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/integration_tests/ws_test.go
  proxyd/server.go
Due: run-build-proxyd

fix(proxyd): route websocket txs through filters
  proxyd/backend.go
  proxyd/integration_tests/ws_test.go
  proxyd/multicall_unserviceable_test.go
  proxyd/server.go
Due: run-build-proxyd

chore(ci): remove deprecated 'hold' job from release flow
  .circleci/continue_config.yml
  RELEASE.md
Due: run-all

chore(ci): remove deprecated 'hold' job from release flow (#658)
  .circleci/continue_config.yml
  RELEASE.md
Due: run-all

feat(proxyd): tx_validation_middleware custom ca support
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

Address websocket review feedback
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/ws_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

op-ufm: dont mark missing txs as seen
  op-ufm/pkg/provider/heartbeat.go
Due: run-build-op-ufm

fix(proxyd): route websocket txs through filters (#655)
  proxyd/README.md
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/ws_test.go
  proxyd/multicall_unserviceable_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix(proxyd): log unexpected block tags as decimal not hex
  proxyd/consensus_poller.go
Due: run-build-proxyd

fix(proxyd): log unexpected block tags as decimal not hex (#661)
  proxyd/consensus_poller.go
Due: run-build-proxyd

fix(proxyd): tighten interop access-list descriptor timestamp
  proxyd/interop.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

fix(proxyd): tighten interop access-list descriptor timestamp (#662)
  proxyd/interop.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

proxyd: Fix a race between reading results and draining discarded ones in the multicall implementation.
  proxyd/Makefile
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

proxyd: Fix a race between reading results and draining discarded ones (#663)
  proxyd/Makefile
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

ci: add parallel apko image builds
  .github/images.apko.json
  .github/workflows/build-images.apko.yaml
  apko/cci-stats.yaml
  apko/circleci-runner-wolfi.yaml
  apko/op-conductor-mon.yaml
  apko/op-conductor-ops.yaml
  apko/op-signer.yaml
  apko/op-txproxy.yaml
  apko/op-ufm.yaml
  apko/peer-mgmt-service.yaml
  apko/proxyd.yaml
  apko/replica-healthcheck.yaml
  melange/cci-stats.yaml
  melange/circleci-runner.yaml
  melange/op-conductor-mon.yaml
  melange/op-conductor-ops.yaml
  melange/op-signer.yaml
  melange/op-txproxy.yaml
  melange/op-ufm.yaml
  melange/peer-mgmt-service.yaml
  melange/pipelines/app-compat/install-to-app.yaml
  melange/pipelines/circleci-runner/install.yaml
  melange/pipelines/yarn/build.yaml
  melange/proxyd.yaml
  melange/replica-healthcheck.yaml
  pipelines
Due: none

ci: fix CircleCI image home ownership
  apko/circleci-runner-wolfi.yaml
Due: none

ci: add beta parallel apko image builds (#664)
  .github/images.apko.json
  .github/workflows/build-images.apko.yaml
  apko/cci-stats.yaml
  apko/circleci-runner-wolfi.yaml
  apko/op-conductor-mon.yaml
  apko/op-conductor-ops.yaml
  apko/op-signer.yaml
  apko/op-txproxy.yaml
  apko/op-ufm.yaml
  apko/peer-mgmt-service.yaml
  apko/proxyd.yaml
  apko/replica-healthcheck.yaml
  melange/cci-stats.yaml
  melange/circleci-runner.yaml
  melange/op-conductor-mon.yaml
  melange/op-conductor-ops.yaml
  melange/op-signer.yaml
  melange/op-txproxy.yaml
  melange/op-ufm.yaml
  melange/peer-mgmt-service.yaml
  melange/pipelines/app-compat/install-to-app.yaml
  melange/pipelines/circleci-runner/install.yaml
  melange/pipelines/yarn/build.yaml
  melange/proxyd.yaml
  melange/replica-healthcheck.yaml
  pipelines
Due: none

proxyd: parallelize EL consensus-poller RPCs in UpdateBackend
  proxyd/consensus_poller.go
  proxyd/integration_tests/mock_backend_test.go
Due: run-build-proxyd

proxyd: add test coverage for isELInSync error path in UpdateBackend
  proxyd/integration_tests/consensus_test.go
Due: run-build-proxyd

ci: update factory pin
  .github/workflows/build-images.apko.yaml
Due: none

ci: update factory pin (#667)
  .github/workflows/build-images.apko.yaml
Due: none

ci(apko): fix parity gaps before production promotion
  apko/op-ufm.yaml
  apko/proxyd.yaml
  melange/op-ufm.yaml
  melange/proxyd.yaml
Due: none

ci(apko): fix parity gaps before production promotion (#668)
  apko/op-ufm.yaml
  apko/proxyd.yaml
  melange/op-ufm.yaml
  melange/proxyd.yaml
Due: none

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
