Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-all

ci(circleci): add matrix definitions for release jobs
  .circleci/continue_config.yml
Due: run-all

ci(circleci): add goreleaser job for releases
  .circleci/continue_config.yml
  op-conductor-mon/.goreleaser.yaml
  op-signer/.goreleaser.yaml
  op-txproxy/.goreleaser.yaml
  op-ufm/.goreleaser.yaml
  peer-mgmt-service/.goreleaser.yaml
  proxyd/.goreleaser.yaml
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-all

Multicall rpc error check (#64)
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/multicall_test.go
  proxyd/integration_tests/testdata/multicall_with_rpc_error_check.toml
  proxyd/proxyd.go
Due: run-build-proxyd

update readme (#88)
  op-txproxy/README.md
Due: run-build-op-txproxy

Remove incorrect debug statements
  proxyd/proxyd.go
Due: run-build-proxyd

feat: add fallback rate limiter and cache to fallback to memory if redis fails (#92)
  proxyd/cache.go
  proxyd/cache_test.go
  proxyd/config.go
  proxyd/frontend_rate_limiter.go
  proxyd/frontend_rate_limiter_test.go
  proxyd/proxyd.go
  proxyd/redis.go
  proxyd/server.go
Due: run-build-proxyd

proxyd: simplify tx sender calculation
  proxyd/server.go
Due: run-build-proxyd

proxyd: simplify tx sender calculation (#93)
  proxyd/server.go
Due: run-build-proxyd

feat: Integrate op-node with op-signer for block payload signing (#59)
  README.md
  op-signer/Dockerfile
  op-signer/README.md
  op-signer/app.go
  op-signer/client/client.go
  op-signer/cmd/main.go
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/config.go
  op-signer/service/errors.go
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

fix: exclude context canccel error from forward error counting
  proxyd/backend.go
Due: run-build-proxyd

use errors.is
  proxyd/backend.go
Due: run-build-proxyd

add test
  proxyd/backend.go
  proxyd/backend_test.go
Due: run-build-proxyd

up
  proxyd/backend.go
Due: run-build-proxyd

adjust loglevel for canceled reqs
  proxyd/backend.go
  proxyd/server.go
Due: run-build-proxyd

test logging changes
  proxyd/backend_test.go
Due: run-build-proxyd

config: redis client choice field
  proxyd/config.go
Due: run-build-proxyd

Params retyped with universal redis interface
  proxyd/cache.go
  proxyd/consensus_tracker.go
  proxyd/frontend_rate_limiter.go
Due: run-build-proxyd

proxyd: updated redis clients with choice
  proxyd/proxyd.go
  proxyd/redis.go
Due: run-build-proxyd

feat(op-conductor-ops): halt-sequencer command
  op-conductor-ops/op-conductor-ops.py
Due: none

chore(op-conductor-ops): pre-flight check to have all conductors paused when running force-active-sequencer
  op-conductor-ops/op-conductor-ops.py
Due: none

op-conductor-ops: halt-sequencer command and pre-flight checks to force-active-sequencer (#101)
  op-conductor-ops/op-conductor-ops.py
Due: none

Fix table output alignment using zero-width-space
  op-conductor-ops/utils.py
Due: none

Make proxyd error handling more generic for different backend implementations
  proxyd/metrics.go
Due: run-build-proxyd

fix: conductor_overrideLeader to work with correct params
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: support forced leadership transfer on unhealthy sequencers
  op-conductor-ops/op-conductor-ops.py
Due: none

fix conductor_overrideLeader and support forced leadership transfer (#103)
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: support un-overriding the leader with safeguards
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: support un-overriding the leader with safeguards (#104)
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: add filter polling support
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/filter_rpc_routing_test.go
  proxyd/integration_tests/testdata/filter_rpc_routing.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix lints
  proxyd/integration_tests/filter_rpc_routing_test.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
