Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

test(proxyd): wait for websocket close handler
  proxyd/integration_tests/ws_test.go
Due: run-build-proxyd

fix(proxyd): bump optimism dependencies
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/interop.go
Due: run-build-proxyd

fix(proxyd): use op-service interop filter client
  proxyd/go.mod
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

chore(docker): swap op-conductor-ops runtime base
  op-conductor-ops/Dockerfile
Due: run-build-op-conductor-ops

chore(docker): swap proxyd runtime base
  proxyd/Dockerfile
Due: run-build-proxyd

fix(docker): use -dev runtime to preserve npm entrypoint
  replica-healthcheck/Dockerfile
Due: run-build-rhc

chore(docker): swap replica-healthcheck runtime base
  replica-healthcheck/Dockerfile
Due: run-build-rhc

chore(docker): swap replica-healthcheck runtime to chainguard/node:latest (Node 26)
  replica-healthcheck/Dockerfile
Due: run-build-rhc

chore(docker): switch op-conductor-ops to wolfi-base; replica-healthcheck to dhi.io/node:22-alpine3.23
  op-conductor-ops/Dockerfile
  replica-healthcheck/Dockerfile
Due: run-build-op-conductor-ops, run-build-rhc

chore(docker): swap remaining base images to chainguard (#625)
  op-conductor-ops/Dockerfile
  proxyd/Dockerfile
  replica-healthcheck/Dockerfile
Due: run-build-op-conductor-ops, run-build-proxyd, run-build-rhc

fix(docker): ignore lifecycle scripts in replica-healthcheck image
  replica-healthcheck/.yarnrc
  replica-healthcheck/Dockerfile
  replica-healthcheck/docs/docker-ignore-scripts.md
Due: run-build-rhc

fix(docker): address review feedback on ignore-scripts hardening
  replica-healthcheck/docs/docker-ignore-scripts.md
Due: run-build-rhc

chore: drop docker-ignore-scripts doc (policy in Dockerfile only)
  replica-healthcheck/docs/docker-ignore-scripts.md
Due: run-build-rhc

fix(docker): ignore lifecycle scripts in replica-healthcheck image (#632)
  replica-healthcheck/.yarnrc
  replica-healthcheck/Dockerfile
Due: run-build-rhc

ci: forward plan matrix tag to factory docker publish
  .github/workflows/build-images.yaml
Due: none

ci: forward plan matrix tag to factory docker publish (#633)
  .github/workflows/build-images.yaml
Due: none

feat(op-conductor-ops): add bootstrap-standby-cluster command
  op-conductor-ops/op-conductor-ops.py
Due: run-build-op-conductor-ops

chore(op-conductor-ops): clarify standby bootstrap status messages
  op-conductor-ops/op-conductor-ops.py
Due: run-build-op-conductor-ops

style(op-conductor-ops): apply black formatting
  op-conductor-ops/op-conductor-ops.py
Due: run-build-op-conductor-ops

feat(op-conductor-ops): add bootstrap-standby-cluster command (#634)
  op-conductor-ops/op-conductor-ops.py
Due: run-build-op-conductor-ops

feat(proxyd): switch to InteropFilterClient (interop_checkAccessList)
  proxyd/backend.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/interop.go
  proxyd/interop_strategy.go
Due: run-build-proxyd

feat(proxyd): switch to InteropFilterClient (interop_checkAccessList) (#635)
  proxyd/backend.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/interop.go
  proxyd/interop_strategy.go
Due: run-build-proxyd

refactor(op-conductor-ops): convert to installable Python package
  op-conductor-ops/op-conductor-ops
  op-conductor-ops/op_conductor_ops/__init__.py
  op-conductor-ops/op_conductor_ops/cli.py
  op-conductor-ops/op_conductor_ops/config.py
  op-conductor-ops/op_conductor_ops/network.py
  op-conductor-ops/op_conductor_ops/sequencer.py
  op-conductor-ops/op_conductor_ops/utils.py
  op-conductor-ops/pyproject.toml
Due: run-build-op-conductor-ops

fix: update Dockerfile and regenerate poetry.lock
  op-conductor-ops/Dockerfile
  op-conductor-ops/poetry.lock
Due: run-build-op-conductor-ops

fix: copy README.md in Dockerfile for poetry install
  op-conductor-ops/Dockerfile
Due: run-build-op-conductor-ops

refactor(op-conductor-ops): convert to installable Python package (#638)
  op-conductor-ops/Dockerfile
  op-conductor-ops/op-conductor-ops
  op-conductor-ops/op_conductor_ops/__init__.py
  op-conductor-ops/op_conductor_ops/cli.py
  op-conductor-ops/op_conductor_ops/config.py
  op-conductor-ops/op_conductor_ops/network.py
  op-conductor-ops/op_conductor_ops/sequencer.py
  op-conductor-ops/op_conductor_ops/utils.py
  op-conductor-ops/poetry.lock
  op-conductor-ops/pyproject.toml
Due: run-build-op-conductor-ops

docs(op-conductor-ops): update README for installable package layout
  op-conductor-ops/README.md
Due: run-build-op-conductor-ops

feat(proxyd): CL output root tiebreaking via ranked priority
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_poller_cl_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): add agreement interop validation strategy
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): make interop failsafe a hard short-circuit rejection
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
  proxyd/metrics.go
Due: run-build-proxyd

docs(op-conductor-ops): update README for installable package layout (#639)
  op-conductor-ops/README.md
Due: run-build-op-conductor-ops

feat(proxyd): detect interop failsafe by dedicated code -320602
  proxyd/backend.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

feat(proxyd): fast-accept with failsafe priority among received verdicts
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

refactor(proxyd): extract CL output root tiebreaking into handleCLOutputRootTiebreak
  proxyd/consensus_poller_cl.go
Due: run-build-proxyd

feat(proxyd): count any filter rejection as a definitive invalid verdict
  proxyd/backend.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

feat(proxyd): add metrics for interop validation outcomes
  proxyd/interop_validation_result_test.go
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): rename rpc_supervisor_checks_total to rpc_interop_filter_checks_total
  proxyd/interop_strategy.go
  proxyd/metrics.go
Due: run-build-proxyd

refactor(proxyd): rename interop validation supervisor naming to interop filter
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/interop.go
  proxyd/interop_strategy.go
  proxyd/interop_validation_result_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): rename interop validation supervisor naming to interop filter
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/interop.go
  proxyd/interop_strategy.go
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): treat out-of-sync filter codes as soft non-responses
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
