Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-ufm, run-build-proxyd, run-all

forward auth errors so we get a valid json-rpc response for them
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
  op-txproxy/conditional_txs.go
Due: none

test commit
  .circleci/continue_config.yml
Due: run-all

test commit fix
  .circleci/config.yml
Due: run-all

no-op commit
  .circleci/continue_config.yml
Due: run-all

no-op commit
  .circleci/config.yml
Due: run-all

random change
  peer-mgmt-service/pkg/service/healthz_server.go
Due: none

typo
  op-txproxy/auth_handler.go
Due: none

op-txproxy: enable auth checks + jsonrpc responses when auth fails (#82)
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
  op-txproxy/conditional_txs.go
Due: none

include err in response
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
  op-txproxy/conditional_txs.go
Due: none

logging in the middleware
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
  op-txproxy/conditional_txs.go
  op-txproxy/txproxy.go
Due: none

debugging
  op-txproxy/auth_handler.go
Due: none

remove auth
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
  op-txproxy/txproxy.go
Due: none

remove auth middleware
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
Due: none

optxproxy: remove auth requirement (#87)
  op-txproxy/auth_handler.go
  op-txproxy/auth_handler_test.go
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
  op-txproxy/txproxy.go
Due: none

update readme
  op-txproxy/README.md
Due: none

feat: add documentation around the release process
  README.md
  RELEASE.md
Due: none

Upgrade geth dependency to 1.14.8 (#56)
  proxyd/cmd/proxyd/main.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/util_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat: allow falling back to memory cache if redis fails
  proxyd/cache.go
  proxyd/config.go
  proxyd/frontend_rate_limiter.go
  proxyd/frontend_rate_limiter_test.go
  proxyd/proxyd.go
  proxyd/redis.go
  proxyd/server.go
Due: run-build-proxyd

Add test for fallback rate limiter
  proxyd/frontend_rate_limiter_test.go
Due: run-build-proxyd

Test fallback cache
  proxyd/cache_test.go
Due: run-build-proxyd

Handle context cancellation properly
  proxyd/cache.go
  proxyd/frontend_rate_limiter.go
Due: run-build-proxyd

Revert context changes for rate limiter
  proxyd/frontend_rate_limiter.go
Due: run-build-proxyd

Revert context cancelled
  proxyd/cache.go
Due: run-build-proxyd

feat: add documentation around the release process (#89)
  README.md
  RELEASE.md
Due: none

Nacos: configure multiple apps on same pod (#2)
  proxyd/cmd/proxyd/main.go
  proxyd/config.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/nacos.go
  proxyd/nacos_test.go
Due: run-build-proxyd

circleci: update vm image to ubuntu-2204:current
  .circleci/continue_config.yml
Due: run-all

circleci: remove unused orbs and job definitions
  .circleci/continue_config.yml
Due: run-all

ci(circleci): add matrix definitions for release jobs
  .circleci/continue_config.yml
Due: run-all

ci(circleci): add goreleaser job for releases
  .circleci/continue_config.yml
  op-conductor-mon/.goreleaser.yaml
  op-signer/.goreleaser.yaml
  op-txproxy/.goreleaser.yaml
  op-ufm/.goreleaser.yaml
  peer-mgmt-service/.goreleaser.yaml
  proxyd/.goreleaser.yaml
Due: run-build-op-conductor-mon, run-build-op-ufm, run-build-proxyd, run-all

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
