Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

fix(proxyd): tx_validation_middleware
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

fix tests
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

fix(proxyd): fix tx_validation_middleware RPC error when failing close against a failing screening-service/provider (#669)
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

chore(docker): migrate infra Dockerfiles to Chainguard wolfi-base
  cci-stats/Dockerfile
  op-conductor-mon/Dockerfile
  op-signer/Dockerfile
  op-txproxy/Dockerfile
  op-ufm/Dockerfile
  peer-mgmt-service/Dockerfile
  proxyd/Dockerfile
  proxyd/Makefile
  replica-healthcheck/.nvmrc
  replica-healthcheck/Dockerfile
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-rhc

chore(docker): migrate infra Dockerfiles to Chainguard wolfi-base (#671)
  cci-stats/Dockerfile
  op-conductor-mon/Dockerfile
  op-signer/Dockerfile
  op-txproxy/Dockerfile
  op-ufm/Dockerfile
  peer-mgmt-service/Dockerfile
  proxyd/Dockerfile
  proxyd/Makefile
  replica-healthcheck/.nvmrc
  replica-healthcheck/Dockerfile
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-rhc

chore(go): bump vulnerable dependencies to patch CVEs
  cci-stats/go.mod
  cci-stats/go.sum
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
  op-signer/go.mod
  op-signer/go.sum
  op-txproxy/go.mod
  op-txproxy/go.sum
  op-ufm/go.mod
  op-ufm/go.sum
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
  proxyd/go.mod
  proxyd/go.sum
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats

chore(op-conductor-ops): bump vulnerable python dependencies
  op-conductor-ops/op_conductor_ops/cli.py
  op-conductor-ops/poetry.lock
  op-conductor-ops/pyproject.toml
Due: run-build-op-conductor-ops

chore(replica-healthcheck): bump vulnerable yarn dependencies
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: run-build-rhc

chore: bump vulnerable dependencies to remediate CVEs (Go, yarn, poetry) (#670)
  cci-stats/go.mod
  cci-stats/go.sum
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
  op-conductor-ops/op_conductor_ops/cli.py
  op-conductor-ops/poetry.lock
  op-conductor-ops/pyproject.toml
  op-signer/go.mod
  op-signer/go.sum
  op-txproxy/go.mod
  op-txproxy/go.sum
  op-ufm/go.mod
  op-ufm/go.sum
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
  proxyd/go.mod
  proxyd/go.sum
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-rhc

bailiff: add service to the monorepo
  .github/images.json
  bailiff/.env.example
  bailiff/.gitignore
  bailiff/.goreleaser.yml
  bailiff/Dockerfile
  bailiff/README.md
  bailiff/cmd/bailiff/main.go
  bailiff/config.example.yml
  bailiff/go.mod
  bailiff/go.sum
  bailiff/internal/pkg/bailiff/config.go
  bailiff/internal/pkg/bailiff/handler.go
  bailiff/internal/pkg/bailiff/handler_test.go
  bailiff/internal/pkg/bailiff/log.go
  bailiff/internal/pkg/bailiff/metrics.go
  bailiff/internal/pkg/bailiff/repush.go
  bailiff/internal/pkg/bailiff/repush.sh
  bailiff/internal/pkg/bailiff/repush_test.go
  bailiff/internal/pkg/bailiff/server.go
  bailiff/internal/pkg/bailiff/server_test.go
  bailiff/internal/pkg/bailiff/whitelist.go
  bailiff/internal/pkg/bailiff/whitelist_test.go
  bailiff/internal/pkg/version/version.go
  bailiff/justfile
Due: none

bailiff: add service to the monorepo (#672)
  .github/images.json
  bailiff/.env.example
  bailiff/.gitignore
  bailiff/.goreleaser.yml
  bailiff/Dockerfile
  bailiff/README.md
  bailiff/cmd/bailiff/main.go
  bailiff/config.example.yml
  bailiff/go.mod
  bailiff/go.sum
  bailiff/internal/pkg/bailiff/config.go
  bailiff/internal/pkg/bailiff/handler.go
  bailiff/internal/pkg/bailiff/handler_test.go
  bailiff/internal/pkg/bailiff/log.go
  bailiff/internal/pkg/bailiff/metrics.go
  bailiff/internal/pkg/bailiff/repush.go
  bailiff/internal/pkg/bailiff/repush.sh
  bailiff/internal/pkg/bailiff/repush_test.go
  bailiff/internal/pkg/bailiff/server.go
  bailiff/internal/pkg/bailiff/server_test.go
  bailiff/internal/pkg/bailiff/whitelist.go
  bailiff/internal/pkg/bailiff/whitelist_test.go
  bailiff/internal/pkg/version/version.go
  bailiff/justfile
Due: none

proxyd: log why backends are excluded from CL consensus
  proxyd/consensus_poller.go
Due: run-build-proxyd

proxyd: add origin label to rpc_backend_http_response_codes_total
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/metrics.go
  proxyd/multicall_unserviceable_test.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): add RPC call status derivation helpers
  proxyd/metrics.go
  proxyd/metrics_test.go
Due: run-build-proxyd

feat(proxyd): add rpc_calls_total and rpc_notifications_total metrics
  proxyd/metrics.go
  proxyd/metrics_test.go
Due: run-build-proxyd

feat(proxyd): record per-call metrics for HTTP RPC traffic
  proxyd/metrics_test.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): record per-call metrics for WS request/response RPC
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): record WS relay calls and subscription notifications
  proxyd/backend.go
  proxyd/metrics_test.go
Due: run-build-proxyd

fix(proxyd): count batch and drain responses in http_response_codes_total
  proxyd/metrics_test.go
  proxyd/server.go
Due: run-build-proxyd

test(proxyd): end-to-end coverage for per-call HTTP RPC metrics
  proxyd/integration_tests/rpc_calls_test.go
  proxyd/integration_tests/testdata/rpc_calls.toml
  proxyd/integration_tests/testdata/rpc_calls_cache.toml
  proxyd/integration_tests/testdata/rpc_calls_consensus.toml
Due: run-build-proxyd

test(proxyd): end-to-end coverage for WS per-call and notification metrics
  proxyd/integration_tests/rpc_calls_ws_test.go
Due: run-build-proxyd

fix(proxyd): correct wholesale-failure and method_not_allowed metric attribution
  proxyd/backend.go
  proxyd/integration_tests/rpc_calls_test.go
  proxyd/integration_tests/rpc_calls_ws_test.go
  proxyd/metrics.go
  proxyd/metrics_test.go
  proxyd/server.go
Due: run-build-proxyd

bailiff: migrate Dockerfile to Wolfi base
  bailiff/Dockerfile
Due: none

bailiff: migrate Dockerfile to Wolfi base (#675)
  bailiff/Dockerfile
Due: none

fix(proxyd): stop client-supplied "unknown" method from evading method_not_allowed metric
  proxyd/backend.go
  proxyd/integration_tests/rpc_calls_ws_test.go
  proxyd/metrics_test.go
Due: run-build-proxyd

ci: bump factory pins to latest main
  .github/workflows/build-images.apko.yaml
  .github/workflows/build-images.yaml
Due: none

ci: bump factory pins to latest main (#677)
  .github/workflows/build-images.apko.yaml
  .github/workflows/build-images.yaml
Due: none

fix(proxyd): address review findings on per-RPC-call metrics
  proxyd/backend.go
  proxyd/integration_tests/batching_test.go
  proxyd/integration_tests/rpc_calls_test.go
  proxyd/metrics.go
  proxyd/metrics_test.go
  proxyd/rpc.go
  proxyd/server.go
Due: run-build-proxyd

proxyd: add per-RPC-call metrics for usage and error-rate SLO (#676)
  proxyd/backend.go
  proxyd/integration_tests/batching_test.go
  proxyd/integration_tests/rpc_calls_test.go
  proxyd/integration_tests/rpc_calls_ws_test.go
  proxyd/integration_tests/testdata/rpc_calls.toml
  proxyd/integration_tests/testdata/rpc_calls_cache.toml
  proxyd/integration_tests/testdata/rpc_calls_consensus.toml
  proxyd/metrics.go
  proxyd/metrics_test.go
  proxyd/rpc.go
  proxyd/server.go
Due: run-build-proxyd

ci: add dependency-review PR gate via shared factory reusable
  .github/workflows/dependency-review.yml
Due: none

ci: add dependency-review PR gate via shared factory reusable (#678)
  .github/workflows/dependency-review.yml
Due: none

ci: make cloud-security sole owner of CI and renovate files
  .github/CODEOWNERS
Due: none

ci: make cloud-security sole owner of CI and renovate files (#679)
  .github/CODEOWNERS
Due: none

ci: add Renovate CVE autobump via factory reusable workflow
  .github/workflows/renovate.yaml
  renovate.json
Due: none

ci: add Renovate CVE autobump via factory reusable workflow (#680)
  .github/workflows/renovate.yaml
  renovate.json
Due: none

ci(op-conductor-ops): release single-file executables on tag
  .github/workflows/release-op-conductor-ops.yaml
Due: none

feat(op-conductor-ops): build a single-file executable with PyInstaller
  op-conductor-ops/.gitignore
  op-conductor-ops/entrypoint.py
  op-conductor-ops/justfile
  op-conductor-ops/poetry.lock
  op-conductor-ops/pyproject.toml
Due: run-build-op-conductor-ops

docs(op-conductor-ops): document binary and op-toolbox install paths
  op-conductor-ops/README.md
Due: run-build-op-conductor-ops

fix(op-conductor-ops): pin poetry, harden release workflow, keep pyinstaller out of the image
  .github/workflows/release-op-conductor-ops.yaml
  op-conductor-ops/Dockerfile
Due: run-build-op-conductor-ops

ci(op-conductor-ops): attest build provenance and publish via draft upload
  .github/workflows/release-op-conductor-ops.yaml
Due: none

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
