Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-ufm, run-build-proxyd, run-all

feat: filter for op-conductor-mon release tags
  .circleci/continue_config.yml
Due: run-all

op-conductor-mon: updates optimism dep, fix breaking cluster membership api change
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
  op-conductor-mon/pkg/metrics/opconductor_client/conductor.go
  op-conductor-mon/pkg/monitor/poll.go
  op-conductor-mon/pkg/monitor/poller.go
Due: run-build-op-conductor-mon

op-conductor-mon: updates optimism dep, fix breaking cluster membership api change (#13)
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
  op-conductor-mon/pkg/metrics/opconductor_client/conductor.go
  op-conductor-mon/pkg/monitor/poll.go
  op-conductor-mon/pkg/monitor/poller.go
Due: run-build-op-conductor-mon

Listen websocket on same port, allow direct connections and more helpful logging
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat: see if we can run with a tag on regular branch
  .circleci/continue_config.yml
Due: run-all

feat: remove the tag filters for proxyd
  .circleci/continue_config.yml
Due: run-all

feat: remove unused contexts
  .circleci/continue_config.yml
Due: run-all

feat: activeate for all branches
  .circleci/continue_config.yml
Due: run-all

use non-release context for debugging
  .circleci/continue_config.yml
Due: run-all

create basic approval hold
  .circleci/continue_config.yml
Due: run-all

feat: add filters for only proxyd tags for build and release
  .circleci/continue_config.yml
Due: run-all

add more tag filters for approval jobs
  .circleci/continue_config.yml
Due: run-all

add more branch filters for approval jobs
  .circleci/continue_config.yml
Due: run-all

feat: test cases passing for not banning node if non-200 is returned
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_test.go
  proxyd/tools/mockserver/handler/handler.go
Due: run-build-proxyd

wip with ignore
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_test.go
  proxyd/integration_tests/testdata/block_height_zero.toml
  proxyd/integration_tests/testdata/block_height_zero_responses.yml
Due: run-build-proxyd

feat: tests to show that block heights can still advance even if latest responds with error
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: tests passing add tests for errors on various block state calls (safe, finalized, latest), also added tests checking backend state
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: unused default for mocked response
  proxyd/tools/mockserver/handler/handler.go
Due: run-build-proxyd

feat: do not ban node if 200 and block height zero
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: more verbose logging
  proxyd/consensus_poller.go
Due: run-build-proxyd

feat: remove ts function from consensus test
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: remove unused imports
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: cleaned up imports
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: require hold for op-conductor mon release flow
  .circleci/continue_config.yml
Due: run-all

feat: updating the logic to not complete a backend update if the consensus poller recieves a network error, or 0 + 200 value, refactored networkSlidingWindows to intermittent sliding windows
  proxyd/backend.go
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_test.go
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/testdata/multicall_responses.yml
Due: run-build-proxyd

feat all tests passing
  proxyd/integration_tests/fallback_test.go
Due: run-build-proxyd

feat: ensure that block can still be banned if due to intermittent error threshold
  proxyd/integration_tests/block_height_zero_test.go
  proxyd/integration_tests/testdata/block_height_zero.toml
Due: run-build-proxyd

feat: linting errors
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: added checks to ensure that backend state does not change on failed update
  proxyd/integration_tests/block_height_zero_test.go
Due: run-build-proxyd

feat: do not set backend finalized or safe intermittently, add a missing return for finalized
  proxyd/consensus_poller.go
Due: run-build-proxyd

feat: updated test cases to check for increment of intermittent network errors window, added ability to override the sliding window, and increment error count on peer count 0
  proxyd/backend.go
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_and_network_errors_test.go
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors_responses.yaml
Due: run-build-proxyd

feat: initial dynamic authentication with postgresql
  proxyd/config.go
  proxyd/dynamic_auth.go
  proxyd/example.config.toml
  proxyd/go.mod
  proxyd/go.sum
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat: add a bit of docs
  proxyd/README.md
Due: run-build-proxyd

feat: Improve updateBackend error handling and node banning logic (#15)
  .circleci/continue_config.yml
  proxyd/Makefile
  proxyd/backend.go
  proxyd/consensus_poller.go
  proxyd/integration_tests/block_height_zero_and_network_errors_test.go
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/fallback_test.go
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors_responses.yaml
  proxyd/integration_tests/testdata/multicall_responses.yml
  proxyd/pkg/avg-sliding-window/sliding.go
  proxyd/tools/mockserver/handler/handler.go
Due: run-build-proxyd, run-all

remove commented codE
  proxyd/backend.go
  proxyd/proxyd.go
Due: run-build-proxyd

fix: linting errrors
  proxyd/backend.go
  proxyd/integration_tests/multicall_test.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
