Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-conductor-ops/.* run-build-op-conductor-ops true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            op-acceptor/.* run-build-op-acceptor true
            replica-healthcheck/.* run-build-rhc true
            .circleci/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

chore: Make it better
  proxyd/backend_probe.go
  proxyd/backend_syscall.go
  proxyd/backend_syscall_windows.go
Due: run-build-proxyd

fix: FIx windows build (#549)
  .circleci/continue_config.yml
  mise.toml
  proxyd/backend_probe.go
  proxyd/backend_syscall.go
  proxyd/backend_syscall_windows.go
Due: run-build-proxyd, run-all

fix(proxyd): don't return error for out-of-range block requests
  proxyd/backend.go
  proxyd/integration_tests/consensus_test.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Due: run-build-proxyd

chore: Use goreleaser installed using mise
  .circleci/continue_config.yml
Due: run-all

chore: Use goreleaser installed using mise (#550)
  .circleci/continue_config.yml
Due: run-all

Add watched address transaction logging to proxyd
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

feat: update proxyd consensus mode rewriter to provide json rpc compliant responses on out of range requests
  proxyd/backend.go
  proxyd/integration_tests/consensus_test.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Due: run-build-proxyd

feat: proxyd update consensus mode out of range requests to be api-spec compliant (#552)
  proxyd/backend.go
  proxyd/integration_tests/consensus_test.go
Due: run-build-proxyd

feat(op-acceptor): add CI parallelism splitting and report-from-events mode
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/runner/events_report.go
  op-acceptor/runner/events_report_test.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_test.go
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

fix: op-acceptor base image
  op-acceptor/Dockerfile
Due: run-build-op-acceptor

fix: op-acceptor base image (#554)
  op-acceptor/Dockerfile
Due: run-build-op-acceptor

feat(op-acceptor): add timing-based bin-packing for CI test splitting
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_test.go
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

fix(op-acceptor): improve CI split logging to clarify algorithm selection
  op-acceptor/runner/parallel.go
Due: run-build-op-acceptor

Add archive retry support for "no transactions snapshot file" error
  proxyd/backend.go
  proxyd/backend_test.go
Due: run-build-proxyd

Add configurable archive block threshold and eth_getBlockReceipts routing
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/proxyd.go
Due: run-build-proxyd

Add retry on empty receipt array responses from non-archive backends
  proxyd/backend.go
  proxyd/backend_test.go
Due: run-build-proxyd

feat(op-acceptor): add linux/arm64 release binary
  op-acceptor/.goreleaser.yaml
Due: run-build-op-acceptor

fix: replace deprecated [alias] with [tool_alias] in mise.toml
  mise.toml
Due: none

fix: update mise tool aliases from ubi to github backend
  mise.toml
Due: none

docs: add test runtime ordering design for op-acceptor
  op-acceptor/docs/plans/2026-02-23-test-runtime-ordering-design.md
Due: run-build-op-acceptor

test(op-acceptor): add SaveRuntimeCache and partial-parse tests
  op-acceptor/runner/runtime_cache_test.go
Due: run-build-op-acceptor

fix(op-acceptor): add nil guards, version validation, and fsync to RuntimeCache
  op-acceptor/runner/runtime_cache.go
Due: run-build-op-acceptor

docs: add test runtime ordering implementation plan
  op-acceptor/docs/plans/2026-02-23-test-runtime-ordering.md
Due: run-build-op-acceptor

feat(op-acceptor): add RuntimeCache type with load function
  op-acceptor/runner/runtime_cache.go
  op-acceptor/runner/runtime_cache_test.go
Due: run-build-op-acceptor

feat(op-acceptor): wire RuntimeCache into runner and sort validators on startup
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

fix(op-acceptor): ensure runtime cache is never nil after failed load
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

feat(op-acceptor): sort parallel work items by cached runtime before dispatch
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

test(op-acceptor): add SortWorkByRuntime tests
  op-acceptor/runner/runtime_cache_test.go
Due: run-build-op-acceptor

fix(op-acceptor): add nil guard and document key format in updateRuntimeCache
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

feat(op-acceptor): write runtime cache after each run completes
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

chore: remove design and plan docs from committed history
  op-acceptor/docs/plans/2026-02-23-test-runtime-ordering-design.md
  op-acceptor/docs/plans/2026-02-23-test-runtime-ordering.md
Due: run-build-op-acceptor

feat(op-acceptor): add linux/arm64 release binary (#555)
  op-acceptor/.goreleaser.yaml
Due: run-build-op-acceptor

Add /readyz readiness endpoint to proxyd
  proxyd/server.go
Due: run-build-proxyd

fix: update mise.toml deprecated alias and ubi backends (#556)
  mise.toml
Due: none

feat: test
  proxyd/Makefile
  proxyd/bench/bench.go
  proxyd/bench/proxyd-10000.toml
  proxyd/bench/proxyd-10001.toml
Due: run-build-proxyd

opt: perf opt
  proxyd/backend.go
  proxyd/cache.go
  proxyd/cache_test.go
  proxyd/consensus_poller.go
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/mock_backend_test.go
  proxyd/integration_tests/optxproxy_auth_test.go
  proxyd/methods.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
  proxyd/rpc.go
  proxyd/rpc_test.go
  proxyd/server.go
Due: run-build-proxyd

feat: timing log
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/server.go
  proxyd/timing.go
  proxyd/timing_test.go
Due: run-build-proxyd

feat: send raw resp
  proxyd/backend.go
  proxyd/rpc.go
  proxyd/server.go
Due: run-build-proxyd

revert: remove timing log and test files, keep perf opt and send raw resp
  proxyd/Makefile
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/bench/bench.go
  proxyd/bench/proxyd-10000.toml
  proxyd/bench/proxyd-10001.toml
  proxyd/server.go
  proxyd/timing.go
  proxyd/timing_test.go
Due: run-build-proxyd
