Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-conductor-ops/.* run-build-op-conductor-ops true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            op-acceptor/.* run-build-op-acceptor true
            replica-healthcheck/.* run-build-rhc true
            .circleci/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Simplify request interface + add warning log for default methods
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

include from address + support batches
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

wrap tx map in req interface
  proxyd/example.config.toml
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

address comments
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

fix(service): handle missing test metadata error
  cci-stats/pkg/service/service.go
Due: run-build-cci-stats

Update proxyd/tx_validation_middleware_test.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

Apply suggestion from @yashvardhan-kukreja
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

feat(proxyd): tx validation middleware (#539)
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

test: verify GitHub Actions work on fork PRs
  README.md
Due: none

test(service): add unit test for not-found error
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

fix(service): handle missing test metadata error (#543)
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

feat(proxyd): add healthcheck and drain functionality from Uniswap fork
  proxyd/backend.go
  proxyd/config.go
  proxyd/healthcheck.go
  proxyd/healthcheck_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Various fixes based on PR comments
  proxyd/backend.go
  proxyd/backend_probe.go
  proxyd/backend_probe_test.go
  proxyd/config.go
  proxyd/healthcheck_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Update proxyd/backend.go
  proxyd/backend.go
Due: run-build-proxyd

remove insecureSkipVerify config var
  proxyd/backend.go
Due: run-build-proxyd

fix(proxyd): Use client TLS config for probe worker
  proxyd/backend_probe.go
  proxyd/backend_probe_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

fixes for comments
  proxyd/backend.go
  proxyd/config.go
Due: run-build-proxyd

feat(proxyd): prometheus metrics for probe worker
  proxyd/backend_probe.go
  proxyd/backend_probe_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

lint
  proxyd/backend_probe.go
Due: run-build-proxyd

enforce nonnegative probe cfg vals
  proxyd/backend.go
Due: run-build-proxyd

configurable graceful shutdown duration
  proxyd/config.go
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/integration_tests/testdata/multicall_with_rpc_error_check.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Cant repro test failures locally, trying adding 0s shutdown duration to all tests
  proxyd/config.go
  proxyd/integration_tests/testdata/backend_timeout.toml
  proxyd/integration_tests/testdata/batch_timeout.toml
  proxyd/integration_tests/testdata/batching.toml
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/caching.toml
  proxyd/integration_tests/testdata/caching_replica.toml
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_block_drift_threshold.toml
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
  proxyd/integration_tests/testdata/failover.toml
  proxyd/integration_tests/testdata/fallback.toml
  proxyd/integration_tests/testdata/frontend_rate_limit.toml
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/integration_tests/testdata/max_block_range.toml
  proxyd/integration_tests/testdata/max_rpc_conns.toml
  proxyd/integration_tests/testdata/out_of_service_interval.toml
  proxyd/integration_tests/testdata/public_access.toml
  proxyd/integration_tests/testdata/retries.toml
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/size_limits.toml
  proxyd/integration_tests/testdata/smoke.toml
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/testdata/whitelist.toml
  proxyd/integration_tests/testdata/ws.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix test
  proxyd/backend_test.go
Due: run-build-proxyd

wip: op-acceptor remote runner
  op-acceptor/Dockerfile
  op-acceptor/METRICS.md
  op-acceptor/cmd/main.go
  op-acceptor/cmd/run_remote.go
  op-acceptor/logging/filelogger.go
Due: run-build-op-acceptor

fix: change graceful shutdown default to 0s and improve drain behavior
  proxyd/config.go
  proxyd/integration_tests/testdata/backend_timeout.toml
  proxyd/integration_tests/testdata/batch_timeout.toml
  proxyd/integration_tests/testdata/batching.toml
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/caching.toml
  proxyd/integration_tests/testdata/caching_replica.toml
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_block_drift_threshold.toml
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
  proxyd/integration_tests/testdata/failover.toml
  proxyd/integration_tests/testdata/fallback.toml
  proxyd/integration_tests/testdata/frontend_rate_limit.toml
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/integration_tests/testdata/max_block_range.toml
  proxyd/integration_tests/testdata/max_rpc_conns.toml
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/integration_tests/testdata/multicall_with_rpc_error_check.toml
  proxyd/integration_tests/testdata/out_of_service_interval.toml
  proxyd/integration_tests/testdata/public_access.toml
  proxyd/integration_tests/testdata/retries.toml
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/size_limits.toml
  proxyd/integration_tests/testdata/smoke.toml
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/testdata/whitelist.toml
  proxyd/integration_tests/testdata/ws.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix: change graceful shutdown default to 0s and improve drain behavior (#2)
  proxyd/config.go
  proxyd/integration_tests/testdata/backend_timeout.toml
  proxyd/integration_tests/testdata/batch_timeout.toml
  proxyd/integration_tests/testdata/batching.toml
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/caching.toml
  proxyd/integration_tests/testdata/caching_replica.toml
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_block_drift_threshold.toml
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
  proxyd/integration_tests/testdata/failover.toml
  proxyd/integration_tests/testdata/fallback.toml
  proxyd/integration_tests/testdata/frontend_rate_limit.toml
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/integration_tests/testdata/max_block_range.toml
  proxyd/integration_tests/testdata/max_rpc_conns.toml
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/integration_tests/testdata/multicall_with_rpc_error_check.toml
  proxyd/integration_tests/testdata/out_of_service_interval.toml
  proxyd/integration_tests/testdata/public_access.toml
  proxyd/integration_tests/testdata/retries.toml
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/size_limits.toml
  proxyd/integration_tests/testdata/smoke.toml
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/testdata/whitelist.toml
  proxyd/integration_tests/testdata/ws.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): add healthcheck and drain functionality from Uniswap fork (#534)
  proxyd/backend.go
  proxyd/backend_probe.go
  proxyd/backend_probe_test.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/testdata/backend_timeout.toml
  proxyd/integration_tests/testdata/batch_timeout.toml
  proxyd/integration_tests/testdata/batching.toml
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/caching.toml
  proxyd/integration_tests/testdata/caching_replica.toml
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_block_drift_threshold.toml
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
  proxyd/integration_tests/testdata/failover.toml
  proxyd/integration_tests/testdata/fallback.toml
  proxyd/integration_tests/testdata/frontend_rate_limit.toml
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/integration_tests/testdata/max_block_range.toml
  proxyd/integration_tests/testdata/max_rpc_conns.toml
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/integration_tests/testdata/multicall_with_rpc_error_check.toml
  proxyd/integration_tests/testdata/out_of_service_interval.toml
  proxyd/integration_tests/testdata/public_access.toml
  proxyd/integration_tests/testdata/retries.toml
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/size_limits.toml
  proxyd/integration_tests/testdata/smoke.toml
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/testdata/whitelist.toml
  proxyd/integration_tests/testdata/ws.toml
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

spike forwarding
  proxyd/backend.go
Due: run-build-proxyd

add unit test
  proxyd/backend.go
  proxyd/backend_test.go
Due: run-build-proxyd

add req count and res time metric
  proxyd/backend.go
  proxyd/metrics.go
Due: run-build-proxyd

chore: support address rate limiting for send raw transaction sync
  proxyd/server.go
Due: run-build-proxyd

fix: setup routing from config
  proxyd/backend.go
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd

migrate ingress rpc to only send raw txn
  proxyd/backend.go
  proxyd/config.go
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fmt
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix(proxyd): don't return error for out-of-range block requests
  proxyd/backend.go
  proxyd/integration_tests/consensus_test.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Due: run-build-proxyd

op-acceptor: Capture logs during test run.
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

op-acceptor: Capture logs during test run. (#548)
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

fix: FIx windows build
  proxyd/backend_probe.go
  proxyd/backend_syscall.go
  proxyd/backend_syscall_windows.go
Due: run-build-proxyd

chore: Update goreleaser & add to mise
  .circleci/continue_config.yml
  mise.toml
Due: run-all
