Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-ufm, run-build-proxyd, run-all

lint issues
  op-txproxy/auth_handler_test.go
  op-txproxy/conditional_txs.go
Due: none

nits(op-txproxy): fixes from standing up this service (#66)
  .circleci/continue_config.yml
  op-txproxy/Dockerfile
  op-txproxy/auth_handler_test.go
  op-txproxy/cli.go
  op-txproxy/cmd/main.go
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
  op-txproxy/txproxy.go
  ops/tag-service/tag-service.py
Due: run-all

wip
  proxyd/backend.go
Due: run-build-proxyd

op-txproxy.op-geth.bump
  op-txproxy/Dockerfile
  op-txproxy/go.mod
  op-txproxy/go.sum
Due: none

op-txproxy.op-geth.bump (#73)
  op-txproxy/Dockerfile
  op-txproxy/go.mod
  op-txproxy/go.sum
Due: none

Update README.md
  README.md
  op-signer/README.md
  op-signer/app.go
  op-signer/cmd/main.go
  op-signer/service/config.go
Due: none

Modify to use BlockPayloadArgs and use the new opsigner rpc namespace
  op-signer/service/config.go
  op-signer/service/errors.go
  op-signer/service/service.go
Due: none

Add missing erorr handling
  op-signer/service/service.go
Due: none

feat: integrate op-signer with op-node for block payload signing
  op-signer/app.go
  op-signer/client/client.go
  op-signer/service/service.go
Due: none

Temporarily update go.mod to use counterpart monorepo pr
  op-signer/app.go
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/service_test.go
Due: none

Add tests for blockPayload signing
  op-signer/Dockerfile
  op-signer/go.mod
  op-signer/service/service_test.go
Due: none

fwd op-txproxy auth header
  proxyd/backend.go
  proxyd/integration_tests/optxproxy_auth_test.go
  proxyd/server.go
Due: run-build-proxyd

fwd op-txproxy auth header (#71)
  proxyd/backend.go
  proxyd/integration_tests/optxproxy_auth_test.go
  proxyd/server.go
Due: run-build-proxyd

feat: open-source pms
  .circleci/config.yml
  .circleci/continue_config.yml
  peer-mgmt-service/.gitignore
  peer-mgmt-service/CHANGELOG.md
  peer-mgmt-service/Dockerfile
  peer-mgmt-service/Makefile
  peer-mgmt-service/README.md
  peer-mgmt-service/cmd/pms/main.go
  peer-mgmt-service/config.example.yaml
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
  peer-mgmt-service/pkg/config/config.go
  peer-mgmt-service/pkg/config/config_test.go
  peer-mgmt-service/pkg/metrics/metrics.go
  peer-mgmt-service/pkg/metrics/opp2p_client/opp2p.go
  peer-mgmt-service/pkg/pms/network.go
  peer-mgmt-service/pkg/pms/poll.go
  peer-mgmt-service/pkg/pms/poll_test.go
  peer-mgmt-service/pkg/pms/scheduler.go
  peer-mgmt-service/pkg/service/healthz_server.go
  peer-mgmt-service/pkg/service/metrics_server.go
  peer-mgmt-service/pkg/service/service.go
Due: run-all

fix: run-build-pms parameter in circleci continue_config
  .circleci/continue_config.yml
Due: run-all

fix: target registry for pms image build target
  .circleci/continue_config.yml
Due: run-all

chore: transition the pms circleci config to be open-source compliant
  .circleci/continue_config.yml
Due: run-all

fix: lint
  peer-mgmt-service/pkg/metrics/metrics.go
  peer-mgmt-service/pkg/pms/poll.go
  peer-mgmt-service/pkg/service/healthz_server.go
  peer-mgmt-service/pkg/service/service.go
Due: none

feat: introduce backwards compatibility for pms images
  .circleci/continue_config.yml
Due: run-all

add test and fix logic
  proxyd/backend.go
  proxyd/integration_tests/multicall_test.go
  proxyd/integration_tests/testdata/multicall_with_rpc_error_check.toml
  proxyd/proxyd.go
Due: run-build-proxyd

err metrics cardinality
  op-txproxy/conditional_txs.go
Due: none

fix: go.mod
  peer-mgmt-service/cmd/pms/main.go
  peer-mgmt-service/go.mod
  peer-mgmt-service/pkg/metrics/opp2p_client/opp2p.go
  peer-mgmt-service/pkg/pms/network.go
  peer-mgmt-service/pkg/pms/poll.go
  peer-mgmt-service/pkg/pms/poll_test.go
  peer-mgmt-service/pkg/service/service.go
Due: none

chore: shift pms github tags to peer-mgmt-service tags
  .circleci/continue_config.yml
Due: run-all

chore: tag service changes for pms
  .github/workflows/tag-service.yml
  ops/ci-tag-docker-release/ci-docker-tag-op-stack-release.sh
  ops/tag-service/tag-service.py
  ops/tag-service/tag-tool.py
Due: run-all

err metrics cardinality (#75)
  op-txproxy/conditional_txs.go
Due: none

circleci: remove unused orbs and job definitions
  .circleci/continue_config.yml
Due: run-all

circleci: update vm image to ubuntu-2204:current
  .circleci/continue_config.yml
Due: run-all

feat: open-source pms (#74)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/tag-service.yml
  ops/ci-tag-docker-release/ci-docker-tag-op-stack-release.sh
  ops/tag-service/tag-service.py
  ops/tag-service/tag-tool.py
  peer-mgmt-service/.gitignore
  peer-mgmt-service/CHANGELOG.md
  peer-mgmt-service/Dockerfile
  peer-mgmt-service/Makefile
  peer-mgmt-service/README.md
  peer-mgmt-service/cmd/pms/main.go
  peer-mgmt-service/config.example.yaml
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
  peer-mgmt-service/pkg/config/config.go
  peer-mgmt-service/pkg/config/config_test.go
  peer-mgmt-service/pkg/metrics/metrics.go
  peer-mgmt-service/pkg/metrics/opp2p_client/opp2p.go
  peer-mgmt-service/pkg/pms/network.go
  peer-mgmt-service/pkg/pms/poll.go
  peer-mgmt-service/pkg/pms/poll_test.go
  peer-mgmt-service/pkg/pms/scheduler.go
  peer-mgmt-service/pkg/service/healthz_server.go
  peer-mgmt-service/pkg/service/metrics_server.go
  peer-mgmt-service/pkg/service/service.go
Due: run-all

chore: get rid of backwards compatible pms
  .circleci/continue_config.yml
Due: run-all

chore: get rid of backwards compatible pms (#80)
  .circleci/continue_config.yml
Due: run-all

re-enable auth
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
Due: none

remove issue comment
  op-txproxy/conditional_txs_test.go
Due: none

optxproxy: re-enable auth enforcement (#81)
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
Due: none

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
