Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

feat(op-acceptor): sort tests by previous runtime to front-load longest tests (#557)
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runtime_cache.go
  op-acceptor/runner/runtime_cache_test.go
Due: run-build-op-acceptor

fix(op-acceptor): use -skip flag for named test exclusions in gateless mode
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/runner/constants.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/validator.go
Due: run-build-op-acceptor

fix(op-acceptor): use -skip flag for named test exclusions in gateless mode (#560)
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/runner/constants.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/validator.go
Due: run-build-op-acceptor

fix(ci): install zstd for mise archive extraction in go-release job
  .circleci/continue_config.yml
Due: run-all

fix(ci): install zstd for mise archive extraction in go-release job (#561)
  .circleci/continue_config.yml
Due: run-all

fix(op-conductor-mon): harden container image
  op-conductor-mon/Dockerfile
Due: run-build-op-conductor-mon

fix(op-conductor-mon): harden container image (#562)
  op-conductor-mon/Dockerfile
Due: run-build-op-conductor-mon

fix(op-conductor-mon): bump Go dependencies
  op-conductor-mon/Dockerfile
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
Due: run-build-op-conductor-mon

fix(op-conductor-mon): bump Go dependencies (#563)
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
Due: run-build-op-conductor-mon

fix(proxyd): pass chain ID to interop access list validation
  proxyd/config.go
  proxyd/go.mod
  proxyd/interop_strategy.go
  proxyd/proxyd.go
Due: run-build-proxyd

fix(op-acceptor): skip RunAll package invocation when all tests are excluded
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: run-build-op-acceptor

fix: use go list + file scan instead of go test -list to avoid TestMain
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

fix: exclude TestMain from test function scan
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: run-build-op-acceptor

fix(op-acceptor): skip RunAll package when all tests excluded by --exclude-gates (#565)
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: run-build-op-acceptor

feat(op-acceptor): add --shard-index/--shard-total for parallel gateless test execution
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
Due: run-build-op-acceptor

fix(proxyd): pass chain ID to interop access list validation (#564)
  proxyd/config.go
  proxyd/go.mod
  proxyd/interop_strategy.go
  proxyd/proxyd.go
Due: run-build-proxyd

fix(proxyd): separate context for tx validation middleware
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

update comment
  proxyd/tx_validation_middleware.go
Due: run-build-proxyd

Remove stale test
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

Readd test to check that context is NOT canceled
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

fix(proxyd): separate context for tx validation middleware (#567)
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

feat(proxyd): log sendRawTransaction forwarding with tx_hash and duration
  proxyd/integration_tests/tx_hash_logging_test.go
  proxyd/server.go
Due: run-build-proxyd

test(proxyd): verify forwarding log fields match request log
  proxyd/integration_tests/tx_hash_logging_test.go
Due: run-build-proxyd

fix(proxyd): only log sendRawTransaction forwarded on success
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): log sendRawTransaction forwarding with tx_hash and duration (#569)
  proxyd/integration_tests/tx_hash_logging_test.go
  proxyd/server.go
Due: run-build-proxyd

proxyd: support backend mTLS for websocket upstreams
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/proxyd.go
  proxyd/proxyd_test.go
Due: run-build-proxyd

proxyd: cover backend TLS edge cases
  proxyd/backend_test.go
  proxyd/proxyd_test.go
Due: run-build-proxyd

Refactor IP address extraction using net package
  proxyd/server.go
Due: run-build-proxyd

Update server.go
  proxyd/server.go
Due: run-build-proxyd

goimports fix
  proxyd/server.go
Due: run-build-proxyd

feat(cci-stats): map flaky test markers to structured statuses
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

feat(cci-stats): record all skipped tests and map flaky markers
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

Colon is not always present.
  cci-stats/pkg/service/service.go
Due: run-build-cci-stats

Colon is not always present for failure.
  cci-stats/pkg/service/service.go
Due: run-build-cci-stats

feat(cci-stats): map flaky test markers to structured statuses (#576)
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

fix(cci-stats): use Contains for flaky status markers in test messages
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

fix(cci-stats): give FLAKY_FAIL its own status instead of mapping to failed
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

chore: bump Go to 1.26.1 across all modules (except op-conductor-mon)
  cci-stats/Dockerfile
  cci-stats/go.mod
  go.mod
  mise.toml
  op-acceptor/Dockerfile
  op-acceptor/go.mod
  op-signer/Dockerfile
  op-signer/go.mod
  op-txproxy/Dockerfile
  op-txproxy/go.mod
  op-ufm/Dockerfile
  op-ufm/go.mod
  peer-mgmt-service/Dockerfile
  peer-mgmt-service/go.mod
  proxyd/Dockerfile
  proxyd/backend.go
  proxyd/go.mod
Due: run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor

chore: add Dockerfile smoke tests
  cci-stats/Dockerfile
  op-acceptor/Dockerfile
  op-signer/Dockerfile
  op-txproxy/Dockerfile
  op-ufm/Dockerfile
  peer-mgmt-service/Dockerfile
  proxyd/Dockerfile
Due: run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor

chore: migrate Dockerfiles to Docker Hardened Images (DHI)
  cci-stats/Dockerfile
  op-acceptor/Dockerfile
  op-signer/Dockerfile
  op-txproxy/Dockerfile
  op-ufm/Dockerfile
  peer-mgmt-service/Dockerfile
  proxyd/Dockerfile
Due: run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
