Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

fix(proxyd): allow CL backends at network genesis (block 0 with valid hash)
  proxyd/consensus_poller_cl.go
  proxyd/integration_tests/consensus_cl_test.go
Due: run-build-proxyd

test(proxyd): fix race in TestWSClientExceedReadLimit close assertion
  proxyd/integration_tests/ws_test.go
Due: run-build-proxyd

feat(proxyd): fail closed on unresolvable CL output root split
  proxyd/consensus_poller_cl.go
  proxyd/consensus_poller_cl_test.go
Due: run-build-proxyd

fix(proxyd): allow CL backends at network genesis (block 0 with valid hash) (#645)
  proxyd/consensus_poller_cl.go
  proxyd/integration_tests/consensus_cl_test.go
Due: run-build-proxyd

fix(proxyd): fail fast on negative consensus_cl_rank
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): address agreement-strategy review feedback
  proxyd/backend.go
  proxyd/interop_strategy.go
  proxyd/metrics.go
Due: run-build-proxyd

feat(peer-mgmt-service): allow external peers in config validation
  peer-mgmt-service/pkg/config/config.go
  peer-mgmt-service/pkg/config/config_test.go
Due: run-build-pms

feat(proxyd): halt CL consensus on unresolvable output root split
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_poller_cl_test.go
  proxyd/integration_tests/consensus_cl_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

refactor(proxyd): source interop rejection codes from op-core/interop
  proxyd/go.mod
  proxyd/go.sum
  proxyd/interop_strategy.go
Due: run-build-proxyd

feat(peer-mgmt-service): pre-register external peer IDs at network construction
  peer-mgmt-service/pkg/pms/network.go
  peer-mgmt-service/pkg/pms/poll_test.go
Due: run-build-pms

fix(peer-mgmt-service): scope external peer pre-registration to network members
  peer-mgmt-service/pkg/pms/network.go
Due: run-build-pms

feat(peer-mgmt-service): skip polling for external peers
  peer-mgmt-service/pkg/pms/poll.go
Due: run-build-pms

feat(peer-mgmt-service): dial external peers without reverse RPC
  peer-mgmt-service/pkg/pms/poll.go
  peer-mgmt-service/pkg/pms/poll_test.go
Due: run-build-pms

refactor(proxyd): inline interop code lookups, name -32603 constant
  proxyd/backend.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
Due: run-build-proxyd

feat(proxyd): add agreement interop validation strategy (#640)
  proxyd/backend.go
  proxyd/config.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/ws_test.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

test(proxyd): assert 2-1-1-1 plurality halts CL consensus
  proxyd/consensus_poller_cl_test.go
Due: run-build-proxyd

test(proxyd): cover 3-1-1 majority resolve and timeout-excluded responder count
  proxyd/consensus_poller_cl_test.go
Due: run-build-proxyd

feat(peer-mgmt-service): exclude external peers from network health metric
  peer-mgmt-service/pkg/pms/poll.go
  peer-mgmt-service/pkg/pms/poll_test.go
Due: run-build-pms

docs(peer-mgmt-service): document external peer in example config
  peer-mgmt-service/config.example.yaml
  peer-mgmt-service/pkg/config/config_test.go
Due: run-build-pms

feat(peer-mgmt-service): validate external peer_id and reject all-external networks
  peer-mgmt-service/config.example.yaml
  peer-mgmt-service/pkg/config/config.go
  peer-mgmt-service/pkg/config/config_test.go
Due: run-build-pms

feat(proxyd): halt CL consensus on unresolvable output root split (#646)
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_poller_cl_test.go
  proxyd/integration_tests/consensus_cl_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): break down interop validation metric by reason
  proxyd/interop_validation_result_test.go
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): add metrics for interop validation outcomes
  proxyd/interop_validation_result_test.go
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): map failsafe to dedicated rpc error code -320602
  proxyd/interop_validation_result_test.go
  proxyd/server.go
Due: run-build-proxyd

feat(peer-mgmt-service): add external peer support (#647)
  peer-mgmt-service/config.example.yaml
  peer-mgmt-service/pkg/config/config.go
  peer-mgmt-service/pkg/config/config_test.go
  peer-mgmt-service/pkg/pms/network.go
  peer-mgmt-service/pkg/pms/poll.go
  peer-mgmt-service/pkg/pms/poll_test.go
Due: run-build-pms

feat(proxyd): classify interop validation results via strategy helpers
  proxyd/interop_validation_result_test.go
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): add metrics for interop validation outcomes (#643)
  proxyd/interop_validation_result_test.go
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): rename supervisor terminology to interop-filter
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/interop.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): name the strategy first-filter, not first-interop-filter
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/interop_strategy.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

test(proxyd): fix race in TestMulticall request-count assertion
  proxyd/integration_tests/multicall_test.go
Due: run-build-proxyd

fix(proxyd): synchronize AvgSlidingWindow access
  proxyd/pkg/avg-sliding-window/sliding.go
  proxyd/pkg/avg-sliding-window/sliding_test.go
Due: run-build-proxyd

test(proxyd): fix race in TestMulticall request-count assertion (#652)
  proxyd/integration_tests/multicall_test.go
Due: run-build-proxyd

chore(proxyd): run golangci-lint in make lint target to match CI
  proxyd/Makefile
  proxyd/mise.toml
Due: run-build-proxyd

ci(proxyd): run make lint instead of inline golangci-lint
  .circleci/continue_config.yml
Due: run-all

fix(proxyd): synchronize AvgSlidingWindow access (#653)
  proxyd/pkg/avg-sliding-window/sliding.go
  proxyd/pkg/avg-sliding-window/sliding_test.go
Due: run-build-proxyd

feat(proxyd): accept legacy "first-supervisor" strategy value
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

refactor(proxyd): rename supervisor terminology to interop-filter (#648)
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/interop.go
  proxyd/interop_strategy.go
  proxyd/interop_strategy_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): fail-closed-by-default interop filtering
  proxyd/integration_tests/interop_validation_test.go
  proxyd/interop_strategy.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
