Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

chore: use floating Go 1.26 version pins
  cci-stats/go.mod
  go.mod
  mise.toml
  op-acceptor/go.mod
  op-signer/go.mod
  op-txproxy/go.mod
  op-ufm/go.mod
  peer-mgmt-service/go.mod
  proxyd/go.mod
Due: run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor

chore: bump CircleCI Go image to cimg/go:1.26
  .circleci/continue_config.yml
Due: run-all

fix: migrate to golangci-lint v2 config format
  .circleci/continue_config.yml
  .golangci.yml
  op-acceptor/logging/filelogger.go
  op-acceptor/reporting/tree_formatters.go
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor, run-all

fix: add linter scope to golangci-lint v2 exclusion rules
  .golangci.yml
  op-ufm/.golangci.yml
Due: run-build-op-ufm

fix: resolve remaining golangci-lint v2 staticcheck findings
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-signer/provider/utils.go
  op-signer/service/auth.go
  op-ufm/pkg/metrics/clients/signer.go
  op-ufm/pkg/provider/roundtrip.go
  proxyd/backend.go
  proxyd/integration_tests/multicall_test.go
  proxyd/rewriter_test.go
Due: run-build-op-signer, run-build-op-ufm, run-build-proxyd, run-build-op-acceptor

fix: detect Go test timeouts from stderr in op-acceptor
  op-acceptor/runner/runner.go
Due: run-build-op-acceptor

chore: bump Go to 1.26 and migrate to Docker Hardened Images (#579)
  .circleci/continue_config.yml
  .golangci.yml
  cci-stats/Dockerfile
  cci-stats/go.mod
  go.mod
  mise.toml
  op-acceptor/Dockerfile
  op-acceptor/go.mod
  op-acceptor/logging/filelogger.go
  op-acceptor/nat.go
  op-acceptor/reporting/tree_formatters.go
  op-acceptor/runner/runner.go
  op-signer/Dockerfile
  op-signer/go.mod
  op-signer/provider/utils.go
  op-signer/service/auth.go
  op-txproxy/Dockerfile
  op-txproxy/go.mod
  op-ufm/Dockerfile
  op-ufm/go.mod
  op-ufm/pkg/metrics/clients/signer.go
  op-ufm/pkg/provider/roundtrip.go
  peer-mgmt-service/Dockerfile
  peer-mgmt-service/go.mod
  proxyd/Dockerfile
  proxyd/backend.go
  proxyd/go.mod
  proxyd/integration_tests/multicall_test.go
  proxyd/rewriter_test.go
Due: run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-all

chore: remove unused runtime dependencies from proxyd, op-ufm, peer-mgmt-service
  op-ufm/Dockerfile
  op-ufm/entrypoint.sh
  peer-mgmt-service/Dockerfile
  proxyd/Dockerfile
  proxyd/README.md
  proxyd/entrypoint.sh
Due: run-build-pms, run-build-op-ufm, run-build-proxyd

chore: remove unused runtime dependencies from proxyd, op-ufm, peer-mgmt-service (#580)
  op-ufm/Dockerfile
  op-ufm/entrypoint.sh
  peer-mgmt-service/Dockerfile
  proxyd/Dockerfile
  proxyd/README.md
  proxyd/entrypoint.sh
Due: run-build-pms, run-build-op-ufm, run-build-proxyd

feat: nit comments
  proxyd/consensus_poller.go
Due: run-build-proxyd

feat: wip consensus_aware_consensus_layer proxyd poller, todo: clean up consensus poller code and look at overwritting responses for optimisim_syncStatus
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/proxyd.go
Due: run-build-proxyd

chore(deps): update github.com/syndtr/goleveldb digest to 126854a
  proxyd/go.mod
  proxyd/go.sum
Due: run-build-proxyd

chore(deps): update module github.com/gorilla/mux to v1.8.1
  op-conductor-mon/go.mod
  op-ufm/go.mod
  peer-mgmt-service/go.mod
  proxyd/go.mod
Due: run-build-op-conductor-mon, run-build-pms, run-build-op-ufm, run-build-proxyd

chore(deps): update golang.org/x/exp digest to 7ab1446
  op-conductor-mon/go.mod
  op-conductor-mon/go.sum
  op-ufm/go.mod
  op-ufm/go.sum
  peer-mgmt-service/go.mod
  peer-mgmt-service/go.sum
Due: run-build-op-conductor-mon, run-build-pms, run-build-op-ufm

chore(deps): update dependency @eslint/eslintrc to v3.3.5
  replica-healthcheck/yarn.lock
Due: run-build-rhc

wip: proxyd cl layer
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
  proxyd/integration_tests/consensus_cl_test.go
  proxyd/integration_tests/testdata/consensus_cl.toml
  proxyd/integration_tests/testdata/consensus_cl_responses.yml
  proxyd/proxyd.go
  proxyd/rewriter.go
  proxyd/tools/mockserver/handler/handler.go
Due: run-build-proxyd

wip: proxyd cl layer 2
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/metrics.go
Due: run-build-proxyd

fix: linting
  proxyd/config.go
  proxyd/consensus_poller.go
Due: run-build-proxyd

fix(cci-stats): use Contains for flaky status markers (#578)
  cci-stats/pkg/service/service.go
  cci-stats/pkg/service/service_test.go
Due: run-build-cci-stats

fix: logging and dockerfile improvements
  proxyd/Diff.tx
  proxyd/Dockerfile
  proxyd/Makefile
  proxyd/PR_REVIEW.md
  proxyd/diff.txt
  proxyd/interop_strategy.go
Due: run-build-proxyd

feat: more proxydcl fixes
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_tracker.go
  proxyd/integration_tests/consensus_cl_test.go
  proxyd/integration_tests/testdata/consensus_cl.toml
  proxyd/integration_tests/testdata/consensus_cl_responses.yml
  proxyd/proxyd.go
  proxyd/rewriter.go
Due: run-build-proxyd

feat: more proxyd cl refactoring
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
Due: run-build-proxyd

feat: more proxyd cl metrics
  proxyd/consensus_poller.go
  proxyd/metrics.go
Due: run-build-proxyd

refactor(proxyd): collapse ConsensusTracker interface and introduce backendStateUpdate
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
Due: run-build-proxyd

fix: remove set state to blank in consensus poller Reset
  proxyd/consensus_poller.go
Due: run-build-proxyd

chore: update ct to cp for all consensus poller recievers
  proxyd/consensus_poller.go
Due: run-build-proxyd

refactor(proxyd): collapse ConsensusTracker interface and introduce backendState (#588)
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
Due: run-build-proxyd

refactor(proxyd): extract findConsensusBlock walk-back into reusable function
  proxyd/consensus_poller.go
Due: run-build-proxyd

feat(proxyd): track block hashes in consensus state
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
Due: run-build-proxyd

refactor(proxyd): rename EL-specific functions and fix type assertion panics
  proxyd/consensus_poller.go
Due: run-build-proxyd

refactor(proxyd): extract updateELBackend from UpdateBackend
  proxyd/consensus_poller.go
Due: run-build-proxyd

refactor(proxyd): collapse ConsensusTracker interface and introduce backendStateUpdate
  proxyd/consensus_poller.go
Due: run-build-proxyd

feat: bit of refactoring out of consensus_poller.go
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
Due: run-build-proxyd

feat: proxyd cl layer consensus mode
  proxyd/Dockerfile
  proxyd/Makefile
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_tracker.go
  proxyd/integration_tests/block_height_zero_and_network_errors_test.go
  proxyd/integration_tests/consensus_cl_test.go
  proxyd/integration_tests/testdata/consensus_cl.toml
  proxyd/integration_tests/testdata/consensus_cl_responses.yml
  proxyd/interop_strategy.go
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/rewriter.go
  proxyd/tools/mockserver/handler/handler.go
Due: run-build-proxyd

feat: add warning log and metric if there is a large safe head bump
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/metrics.go
Due: run-build-proxyd

chore: restore interop strategy to main
  proxyd/interop_strategy.go
Due: run-build-proxyd

feat: more refactoring out of consensus poller
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
Due: run-build-proxyd

feat: more verbose comment for computeCLGroupMinimums and add metric for safe block jump
  proxyd/consensus_poller_cl.go
  proxyd/metrics.go
Due: run-build-proxyd

fix: linting
  proxyd/consensus_poller.go
Due: run-build-proxyd

fix: network errors integration tests
  proxyd/integration_tests/block_height_zero_and_network_errors_test.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-conductor-ops: any of: op-conductor-ops/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-build-op-acceptor: any of: op-acceptor/.*
  run-build-rhc: any of: replica-healthcheck/.*
  run-all: any of: .circleci/.*
