Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-ufm, run-build-proxyd, run-all

Readme
  proxyd/README.md
Due: run-build-proxyd

Context
  .github/workflows/docker-build-push-tag.yaml
  .github/workflows/docker-build-push.yaml
Due: run-all

GH Actions conditions
  .github/workflows/docker-build-push-tag.yaml
  .github/workflows/docker-build-push.yaml
Due: run-all

Add some tests for skip eip-1898
  proxyd/rewriter_test.go
Due: run-build-proxyd

GH actions WIF
  .github/workflows/docker-build-push-tag.yaml
  .github/workflows/docker-build-push.yaml
Due: run-all

New feature: Optionally skip EIP-1898
  proxyd/backend.go
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Due: run-build-proxyd

compute-tag
  .github/workflows/docker-build-push-tag.yaml
Due: run-all

Added envsubst dependency
  proxyd/Dockerfile
Due: run-build-proxyd

New feat: Block addresses
  proxyd/backend.go
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Added tests for processTransaction and FilterAddresses
  proxyd/rewriter_test.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

Trigger revert
  proxyd/README.md
Due: run-build-proxyd

workflow on pr
  .github/workflows/docker-build-push-pr.yaml
Due: run-all

Update go.mod
  proxyd/go.mod
Due: run-build-proxyd

Imports
  proxyd/cmd/proxyd/main.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/util_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Error could not convert from native to fee currency
  proxyd/README.md
Due: run-build-proxyd

Fake exchangeRates
  proxyd/server.go
Due: run-build-proxyd

env var prefix
  op-txproxy/cmd/main.go
Due: none

tag-service workflow
  .github/workflows/tag-service.yml
Due: run-all

op-txproxy: capitalize the env var prefix (#58)
  .github/workflows/tag-service.yml
  op-txproxy/cmd/main.go
Due: run-all

tag_service
  ops/tag-service/tag-service.py
Due: none

Update tag-service.yml
  .github/workflows/tag-service.yml
Due: run-all

Add nacos to proxyd
  proxyd/cmd/proxyd/main.go
  proxyd/config.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/nacos.go
Due: run-build-proxyd

Dockerfile && flags
  op-txproxy/Dockerfile
  op-txproxy/cli.go
  op-txproxy/cmd/main.go
Due: none

start rpc/metrics srvs
  op-txproxy/cli.go
  op-txproxy/cmd/main.go
  op-txproxy/txproxy.go
Due: none

feat: add metric rpcReqTotal
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

multicall rpc error check
  proxyd/backend.go
  proxyd/config.go
Due: run-build-proxyd

Update tag-service.yml (#62)
  .github/workflows/tag-service.yml
Due: run-all

changes(op-txproxy) nits
  op-txproxy/Dockerfile
  op-txproxy/cli.go
Due: none

log when stopping
  op-txproxy/txproxy.go
Due: none

circleci release
  .circleci/continue_config.yml
Due: run-all

Modify to use BlockPayloadArgs and use the new opsigner rpc namespace
  op-signer/service/config.go
  op-signer/service/errors.go
  op-signer/service/service.go
Due: none

Add nacos support for proxyd (#1)
  proxyd/cmd/proxyd/main.go
  proxyd/config.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/nacos.go
Due: run-build-proxyd

disable auth for now
  op-txproxy/conditional_txs.go
  op-txproxy/conditional_txs_test.go
Due: none

chore: add ci
  .github/workflows/release.yaml
Due: run-all

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
