Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-conductor-ops, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-build-op-acceptor, run-build-rhc, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-conductor-ops/.* run-build-op-conductor-ops true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            op-acceptor/.* run-build-op-acceptor true
            replica-healthcheck/.* run-build-rhc true
            .circleci/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix: make consensus_layer_consensus_aware logging more verbose
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
Due: run-build-proxyd

fix: make consensus_layer_consensus_aware logging more verbose (#606)
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
Due: run-build-proxyd

ci: bump factory workflow to node24-compatible version (#605)
  .github/workflows/branches.yaml
  .github/workflows/tags.yaml
Due: none

proxyd: skip consensus polling for forced candidate backends
  proxyd/consensus_poller.go
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/testdata/consensus_forced_candidate.toml
Due: run-build-proxyd

feat(proxyd): CL consensus-aware Redis integration for uniform sync status
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_tracker.go
Due: run-build-proxyd

feat(proxyd): CL output root tiebreaking via ranked priority
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_poller_cl_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): add Redis HA for CL consensus-aware sync status
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_tracker.go
Due: run-build-proxyd

feat(proxyd): add ranked priority tiebreaking for CL output root disagreements
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_poller_cl_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

POC ko/apko
  .github/images.json
  .github/workflows/branches.yaml
  .github/workflows/factory.yaml
  .github/workflows/tags.yaml
Due: none

add .ko.yaml
  .ko.yaml
Due: none

skip arm64
  .github/workflows/factory.yaml
Due: none

POC ko/apko
  .github/images.json
Due: none

ci: standardize image builds on factory plan action
  .github/images.json
  .github/workflows/branches.yaml
  .github/workflows/build-images.yaml
  .github/workflows/tags.yaml
Due: none

ci: collapse local/fork build jobs, pin to fork-context factory build
  .github/workflows/build-images.yaml
Due: none

ci: bump factory to 34c087314 (inlined fork-context)
  .github/workflows/build-images.yaml
Due: none

ci: bump factory pin to d1304a6e (merged to main)
  .github/workflows/build-images.yaml
Due: none

ci: standardize image builds on factory plan action (#616)
  .github/images.json
  .github/workflows/branches.yaml
  .github/workflows/build-images.yaml
  .github/workflows/tags.yaml
Due: none

feat(proxyd): add /readyz endpoint gated on consensus readiness
  proxyd/server.go
Due: run-build-proxyd

feat(op-conductor-ops): migrate to apko + melange
  .circleci/config.yml
  .github/images.json
  .github/workflows/build-images.yaml
  op-conductor-ops/Dockerfile
  op-conductor-ops/apko/op-conductor-ops.apko.yaml
  op-conductor-ops/melange.yaml
  op-conductor-ops/op-conductor-ops
  op-conductor-ops/op_conductor_ops/__init__.py
  op-conductor-ops/op_conductor_ops/cli.py
  op-conductor-ops/op_conductor_ops/config.py
  op-conductor-ops/op_conductor_ops/network.py
  op-conductor-ops/op_conductor_ops/sequencer.py
  op-conductor-ops/op_conductor_ops/utils.py
  op-conductor-ops/pyproject.toml
Due: run-build-op-conductor-ops, run-all

Gracefull shutdown logic
  proxyd/Dockerfile
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

Revert dockerfile change
  proxyd/Dockerfile
Due: run-build-proxyd

feat(proxyd): add Redis HA for CL consensus-aware sync status
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_tracker.go
  proxyd/consensus_tracker_test.go
  proxyd/metrics.go
Due: run-build-proxyd

refactor(proxyd): reuse local/remote InMemoryConsensusTracker for CL sync state
  proxyd/consensus_tracker.go
Due: run-build-proxyd

fix(proxyd): warn when serving stale CL sync body due to redis unavailability
  proxyd/consensus_tracker.go
Due: run-build-proxyd

fix(proxyd): mirror CL sync body to remote tracker after leader Redis write
  proxyd/consensus_tracker.go
Due: run-build-proxyd

proxyd: cap latest at cross-unsafe block
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/cross_unsafe_latest.go
  proxyd/proxyd.go
Due: run-build-proxyd

style(proxyd): fix goimports formatting
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
Due: run-build-proxyd

fix(ci): bump path-filtering orb to 3.0.0
  .circleci/config.yml
Due: run-all

fix(cci-stats): nil-check Vcs before branch pattern match
  cci-stats/pkg/service/service.go
Due: run-build-cci-stats

fix(cci-stats): nil-check Vcs before branch pattern match (#621)
  cci-stats/pkg/service/service.go
Due: run-build-cci-stats

fix setCLSyncBody to only write to local
  proxyd/consensus_tracker.go
Due: run-build-proxyd

relinquish leadership on postPayload failure
  proxyd/consensus_tracker.go
Due: run-build-proxyd

refactor(proxyd): bundle CL sync body into ConsensusTrackerState
  proxyd/consensus_tracker.go
Due: run-build-proxyd

refactor(proxyd): bundle CL sync body into ConsensusTrackerState (#622)
  .circleci/config.yml
  proxyd/consensus_poller.go
  proxyd/consensus_poller_cl.go
  proxyd/consensus_tracker.go
  proxyd/consensus_tracker_test.go
  proxyd/metrics.go
Due: run-build-proxyd, run-all

circleci: migrate Tier A jobs to Gen2 (same-size, 3 docker jobs)
  .circleci/continue_config.yml
Due: run-all

circleci: migrate Tier A jobs to Gen2 (same-size, 3 docker jobs) (#626)
  .circleci/continue_config.yml
Due: run-all

ci: use supported Python for path filtering
  .circleci/config.yml
Due: run-all
