Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix: linting issue
  proxyd/integration_tests/dynamic_auth_api_client.go
  proxyd/integration_tests/dynamic_auth_test.go
Due: run-build-proxyd

fix: initialization embeded postgres in the integration tests
  proxyd/integration_tests/dynamic_auth_test.go
Due: run-build-proxyd

feat: refactor http server responses and allow to specify the admin token via env variables
  proxyd/integration_tests/dynamic_auth_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat: allow to specify connection_string via env variable
  proxyd/dynamic_auth.go
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix: linting issues
  proxyd/proxyd.go
Due: run-build-proxyd

feat: refactor admin api handler
  proxyd/admin_api.go
  proxyd/server.go
Due: run-build-proxyd

feat: add in-memory dynamic auth storage backend implementation
  proxyd/README.md
  proxyd/dynamic_auth.go
  proxyd/example.config.toml
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/dynamic_auth_test.go
  proxyd/integration_tests/testdata/dynamic_authentication.toml
  proxyd/integration_tests/testdata/static_and_dynamic_authentication.toml
  proxyd/server.go
Due: run-build-proxyd

chore: refactor integration tests for the dynamic auth
  proxyd/integration_tests/dynamic_auth_test.go
Due: run-build-proxyd

feat: add integration tests for token validation feature
  proxyd/integration_tests/dynamic_auth_test.go
Due: run-build-proxyd

chore: Add mise
  README.md
  mise.toml
  ops/tag-service/mise.toml
Due: none

chore: tag-service
  .circleci/continue_config.yml
Due: run-all

chore: Dynamic config
  .circleci/continue_config.yml
Due: run-all

chore: Dynamic config
  .circleci/config.yml
Due: run-all

fix: GoReleaser
  mise.toml
Due: none

feat: refactor error handling in psql and add description for DynamicAuthenticator interface
  proxyd/dynamic_auth.go
Due: run-build-proxyd

chore: Comments
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all

chore: Revert goreleaser command change
  .circleci/continue_config.yml
Due: run-all

chore: Logging
  .circleci/continue_config.yml
Due: run-all

chore: Cleanup
  .circleci/continue_config.yml
Due: run-all

debug: Mise auth
  mise.toml
Due: none

debug: When
  .circleci/continue_config.yml
Due: run-all

debug: Mise
  mise.toml
Due: none

debug: Mise
  .circleci/continue_config.yml
Due: run-all

chore: Delete the tag-service github workflow in favor of op-workbench
  .github/workflows/tag-service.yml
Due: run-all

chore: Delete the tag-service github workflow in favor of op-workbench (#127)
  .github/workflows/tag-service.yml
Due: run-all

feat(nat): prometheus integration
  op-nat/cmd/main.go
  op-nat/gate.go
  op-nat/gate_test.go
  op-nat/go.mod
  op-nat/metrics/metrics.go
  op-nat/metrics/metrics_test.go
  op-nat/nat.go
  op-nat/nat_test.go
  op-nat/service/healthz_server.go
  op-nat/service/metrics_server.go
  op-nat/service/service.go
  op-nat/suite.go
  op-nat/suite_test.go
  op-nat/test.go
  op-nat/test_test.go
  op-nat/validator.go
Due: none

feat(nat): local prometheus & grafana stack
  op-nat/.gitignore
  op-nat/docker-compose.yml
  op-nat/justfile
  op-nat/metrics/testdata/prometheus.yml
Due: none

[NAT] Prometheus integration (#129)
  op-nat/.gitignore
  op-nat/cmd/main.go
  op-nat/docker-compose.yml
  op-nat/gate.go
  op-nat/gate_test.go
  op-nat/go.mod
  op-nat/justfile
  op-nat/metrics/metrics.go
  op-nat/metrics/metrics_test.go
  op-nat/metrics/testdata/prometheus.yml
  op-nat/nat.go
  op-nat/nat_test.go
  op-nat/service/healthz_server.go
  op-nat/service/metrics_server.go
  op-nat/service/service.go
  op-nat/suite.go
  op-nat/suite_test.go
  op-nat/test.go
  op-nat/test_test.go
  op-nat/validator.go
Due: none

feat(nat): added run id's
  op-nat/gate.go
  op-nat/gate_test.go
  op-nat/justfile
  op-nat/metrics/metrics.go
  op-nat/metrics/metrics_test.go
  op-nat/nat.go
  op-nat/suite.go
  op-nat/suite_test.go
  op-nat/test.go
  op-nat/test_test.go
  op-nat/validator.go
Due: none

Update LICENSE
  LICENSE
Due: none
